/* CSS Document */
.web .u-nav{ height:18px; overflow:hidden;}
.web .u-nav .cont{ height:18px; overflow:hidden;}
body.web{ font-family:Arial,SimSun,sans-serif;}
/*左侧小图标*/
.icon-about-about{ width:26px; height:22px; background-position:-86px -353px; margin-top:9px; margin-bottom:9px;}
.icon-about-media{ width:20px; height:23px; background-position:-120px -353px; margin-left:3px; margin-top:8px; margin-bottom:9px;}
.icon-about-service{ width:26px; height:23px; background-position:-148px -353px; margin-top:8px;margin-bottom:9px;}
.icon-about-help{ width:20px; height:20px; background-position:-88px -382px; margin-left:3px; margin-top:10px;margin-bottom:10px;}
.icon-about-contact{ width:22px; height:18px; background-position:-149px -415px; margin-left:2px; margin-top:11px;margin-bottom:11px;}
.icon-about-zp{ width:26px; height:21px; background-position:-115px -382px; margin-top:9px;margin-bottom:10px;}
.icon-about-legal{ width:20px; height:21px; background-position:-120px -414px; margin-top:9px;margin-bottom:10px;}
.icon-about-frlink{ width:23px; height:24px; background-position:-88px -413px; margin-top:8px;margin-bottom:8px;}
.icon-about-map{ width:23px; height:23px; background-position:-148px -381px; margin-top:8px;margin-bottom:9px;}
.icon-about-kong{width:26px; height:22px; background:none;}
/*上部大图标*/
.icon-bigabout-about{ width:37px; height:37px; background-position:0px -297px;}
.icon-bigabout-media{ width:37px; height:37px; background-position:-40px -297px;}
.icon-bigabout-service{ width:37px; height:37px; background-position:0px -338px;}
.icon-bigabout-help{ width:37px; height:37px; background-position:-40px -338px;}
.icon-bigabout-contact{ width:37px; height:37px; background-position:0px -378px;}
.icon-bigabout-legal{ width:37px; height:37px; background-position:-40px -378px;}
.icon-bigabout-frlink{ width:37px; height:37px; background-position:0px -418px;}
.icon-bigabout-map{ width:37px; height:37px; background-position:-40px -418px;}

.ab_left{ float:left; width:196px;background:url(/images/v1/about-lebg.png?20121226_1) no-repeat; min-height:610px;_height:610px; padding-top:6px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.ab_lnav{ width:196px;}
.ab_lnav li{ width:196px; height:40px; line-height:38px; vertical-align:middle; font-size:15px; color:#000000; font-weight:bold; clear:both; display:block;}
.ab_lnav li.on{ width:196px; height:40px; display:block;background:url(/images/v1/re_bg.png?20121226_1) no-repeat -62px -128px;}
.ab_lnav li span.tb{ float:left; width:40px; margin-left:35px; display:inline;}
.ab_lnav li a{ color:#018203;}
.ab_right{ float:left; width:725px; margin-left:35px; display:inline; padding-top:15px;}
.ab_rititle{ height:37px; padding-bottom:6px; border-bottom:1px solid #cfcfcf; vertical-align:middle;line-height:37px; margin-bottom:20px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.ab_helptitle{height:37px; padding-bottom:6px; vertical-align:middle;line-height:37px;}
.ab_rititle i,.ab_helptitle i{ float:left;}
.ab_yname{ font-size:24px; font-weight:bold; color:#000000; padding-left:8px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.ab_yline{ font-size:18px; padding:0px 10px; color:#cfcfcf;}
.ab_yenname{ font-size:16px; font-weight:bold;color:#cfcfcf; font-family:Arial, Helvetica, sans-serif;}
.an_contitle{ font-size:16px; font-weight:bold; color:#fd3102; margin-bottom:10px; position:relative;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.an_cont{ padding-bottom:20px; font-size:14px;color:#000000; line-height:20px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; overflow:hidden;}
.an_cont li{ float:left; width:320px;}
.an_cont p{ margin:0px 0px 10px 0px;}
.an_cont h2{ font-size:15px; font-weight:bold; margin:12px 0px 5px 0px; display:block; *margin:12px 0 3px 0;}
.an_cont h3{ font-size:15px; font-weight:normal; margin:0px 0px 5px 0px; display:block;}
.ab_media{ margin:0px 0px 20px 0px; padding:0px;}
.ab_media li{ padding:0px 20px 8px 20px; margin-bottom:8px; line-height:18px; border-bottom:1px dashed #cfcfcf; position:relative; overflow:hidden;}
.ab_media li a{ font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.ab_media li cite{ position:absolute; font-size:12px; font-family:Arial, Helvetica, sans-serif; right:20px; font-style:normal;}
.Posts_tag {padding:0px 0px 8px 0px; width:720px;}
.Posts_tag ul {float:left; margin:0; padding:0;}
.Posts_tag ul li {width:120px; float:left; height:40px; line-height:38px; margin:8px 0;}
.Posts_tag ul li img {vertical-align:middle; padding-right:4px;}
/*帮助中心*/
.help-menu{ width:725px; height:44px; background:url(/images/v1/re_bg.png?20121226_1) no-repeat 0px -206px; margin-bottom:20px; font-size:15px; color:#FFFFFF; font-weight:bold; line-height:44px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.help-menu-title1{ width:127px; float:left; padding-left:8px;}
.help-menu-title2{ width:300px; float:left;}
.help-menu-title3{ float:right; width:114px;}
.help-menu-title2 li{ float:left; position:relative; width:90px;}
.icon-about-baitop{ width:9px; height:5px; background-position:-32px -273px;}
.icon-about-ttop{ width:38px; height:16px; background-position:-51px -272px;}
.help-menu-title2 li i.icon{ position:absolute; bottom:1px; left:35px;}
.help-titles{ border-bottom:1px solid #cfcfcf; padding-bottom:15px; margin-bottom:20px; clear:both; overflow:hidden;}
.help-titles h2{ display:block; font-size:16px; font-weight:bold; margin-bottom:8px; color:#000000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.help-titles li{ float:left; width:49%; padding:3px 0px;}
.help-titles li.sp{ width:99%;}
.ab_right .a-green a,.ab_right .a-blue a{ font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.ab_right .help-titles a{font-family:Arial,SimSun,sans-serif;}
.an_contitle i.icon-about-ttop{ position:absolute; right:0px; top:0px; cursor:pointer;}
.conname{ font-size:14px; font-weight:bold; padding-left:30px; color:#000000;}
.email_sm{line-height: 24px;margin: 10px 0;background-color:#FFFBE6;border: 1px solid #EEEEEE;color:#FD3102;font-size: 12px;margin:10px 0 20px;padding: 8px 15px;}
/*友情链接*/
.letu{ float:left; width:170px;}
.nryou{ float:right; width:470px; padding:4px;}
.nryou textarea{ width:470px; height:60px; border:0px; color:#000000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.nryou textarea.kuang1{ height:24px; line-height:24px;}
.partlink{}
.partlink a{ float:left; margin:2px 20px 1px 0px; white-space:nowrap;}
/*网站地图*/
.mphya{ float:left; padding-left:0px; width:210px; border-right:1px dotted #b2b2b2;height:1510px;}
.mphya li{ font-weight:bold; width:210px; line-height:24px;}
.mphya li ul li{ height:20px; line-height:20px; width:200px; padding-left:10px; background:url(/images/v1/sm-jt-r.gif) no-repeat -4px 3px; font-weight:normal;}
.mphya1{ float:left; padding-left:20px; width:250px; border-right:1px dotted #b2b2b2;height:1600px;}
.mphya1 li{ font-weight:bold; width:250px; line-height:24px;}
.mphya1 li ul{ line-height:22px;}
.mphya1 li ul li{ height:20px; line-height:20px; width:245px; padding-left:10px; background:url(/images/v1/sm-jt-r.gif) no-repeat -4px 3px; font-weight:normal;}
.mphya2{ float:left; padding-left:20px; width:205px; height:1600px;}
.mphya2 li{ font-weight:bold;width:205px; line-height:24px;}
.mphya2 li ul{ line-height:22px;}
.mphya2 li ul li{ height:20px; line-height:20px; width:198px; padding-left:10px; background:url(/images/v1/sm-jt-r.gif) no-repeat -4px 3px; font-weight:normal;}
.ab_map{ margin:0px 0px 20px 0px; padding:0px;}
.ab_map li{ padding:0px 20px 8px 20px; margin-bottom:8px; line-height:18px; border-bottom:1px dashed #cfcfcf; position:relative; overflow:hidden;}
.ab_map li i.icon{ position:absolute; left:15px; top:6px;}
*html .ab_map li i.icon{ position:absolute; left:-2px; top:6px;}
.ab_map li a{ font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}

