@charset "utf-8";
/* CSS Document */
html{height:100%;overflow-y:scroll;width:100%;}
body,div,td{line-height:1.8em;}
body,div,ol,ul,li,h1,h2,h3,h4,h5,h6,form,fieldset,legend,input,textarea,p,th,td,dl,dt,dd{font-size:12px;font-weight:normal;margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
img{border:0 none;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
ul li{list-style:none outside none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{vertical-align:baseline;}
h1,h2,h3,h4,h5,h6,select,input,textarea,button,table{font-size:100%;}
input,textarea,select,button{font-family:inherit;font-size:inherit;font-weight:inherit;}
button{border:medium none;padding:0;}
button::-moz-focus-inner{border:medium none;}
input[type="radio"],input[type="checkbox"]{vertical-align:middle;}
input.checkbox{vertical-align:middle;}
* html input{vertical-align:baseline;}
textarea{overflow:auto;}
a:focus{outline-style:none;outline-width:0;}
ul:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
select{font:inherit; vertical-align:middle;}
label.checkbox,label.radio,label.text{vertical-align:middle;}
.borderNone{border:medium none;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{display:block;}
.clears {clear:both; display:block; height:0; font-size:0; overflow:hidden;}
a {text-decoration:none;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
a:acitve{text-decoration:none;}

a:link,a:visited{color:#333;}
a:hover,a:active{color:#000;}


.fl {float:left;}
.fr {float:right;}
.mt-10 {margin-top:10px;}
.mt-15 {margin-top:15px;}
.ml-10 {margin-left:10px;}
.mr-10 {margin-right:10px;}
.mb-10 {margin-bottom:10px;}
.mt-20 {margin-top:20px;}
.mb-20 {margin-bottom:20px;}
.mt-30 {margin-top:30px;}
.mb-30 {margin-bottom:30px;}
.pl-5 {padding-left:5px;}
.back {color:#000;}
.gray {color:gray;}
.red {color:red;}

.a-green a:link,.a-green a:visited{color:#018201;font-family:Arial,SimSun,sans-serif;padding:1px 2px;vertical-align:baseline;}
.a-green a:hover,.a-green a:active{background-color:#018201;color:#FFFFFF;text-decoration:none;}
.a-green a:active{background-color:#999999;}
.a-blue a:link{color:#0241C1;font-family:Arial,SimSun,sans-serif;padding:1px 2px;}
.a-blue a:visited{color:#8E01AC;}
.a-blue a:hover,.a-blue a:active{background-color:#0241C1;color:#FFFFFF;text-decoration:none;}
.a-blue a:active{background-color:#999999;}

.yi-add th,.yi-add td {line-height:34px; padding:0 10px;}
.yi-add th{background: url("/images/v1/searchlist-titlebg.gif") repeat-x scroll 0 -34px transparent; color:#FFF;}
.yi-add {width:100%; border:0; margin-top:8px;}
.yi-add td {border-bottom:1px solid #e4e4e4;}
.yi-add tr.atr-hover,.yi-add5 tr.atr-hover {background-color:#eef4e5;}
table.lh-16 th {line-height:34px; padding:0; height:34px; font-weight:normal;}
table.lh-16 th span{ float:left; line-height:34px;}
table.lh-16 td {padding:3px 0; line-height:28px;}
table.lh-16 th.pl10,table.lh-16 td.pl10 {padding-left:10px;}
table.lh-16 tr.gray {background-color:#efefef;}

.topnav {position:absolute; top:0; left:0; display:block; height:34px; z-index:3;}
	.topnav .logo {float:left; display:block; width:98px; height:24px; margin:2px 0 0 20px; _margin-left:10px;}
	.topnav .logo a {text-indent:-9999em; display:block; width:98px; height:24px;}
	.topnav .nav {float:right; height:19px; margin-right:15px;}
	.topnav .nav ul {float:left; display:inline-block; margin-top:8px;}
	.topnav .nav li {float:left; display:inline-block; padding:0px 8px; height:14px; line-height:14px; font-family:"宋体"; vertical-align:baseline;}
	*html .topnav .nav li {padding:2px 8px 0px 8px;}
	*html .topnav .nav li.ie6top1 { margin-top:-1px;}
	*html .topnav .nav li.newlock {padding:2px 8px 0px 18px;}
	.topnav .nav li.newlock {border-left:0 none; padding:0px 8px 0px 18px; background:url(/images/v1/template/temp-newlock.png?20121226_1) no-repeat; vertical-align:middle; height:16px;}
	.topnav .nav li i.nl {width:12px; margin-top:0px; height:17px; display:inline-block; vertical-align:middle; background:url("/images/v1/icon.png?20121226_1") no-repeat scroll 0 0;}
	.topnav .nav li.noborder {border:0 none;}
	.topnav .nav li a{ color:#fff; text-decoration:none; display:inline-block; text-align:center; vertical-align:baseline;}
	.topnav .nav li a:hover {color:#fff; text-decoration:underline;}
.wraper {width:1000px; margin:0 auto; display:block; background-color:#fff; padding-top:35px;}
.header {width:1000px; display:block; position:relative;}
.g-topwrap {width:1000px; height:118px; display:block; z-index:9;}
    *html .g-topwrap .gs-logo {margin-left:5px;}
    .g-topwrap .gs-logo {float:left; width:189px; height:122px; background:url(/images/v1/template/logo-bg.png?20121226_1) no-repeat; margin:15px 0 0 10px;}
	.g-topwrap .gs-logo table {width:160px; height:100px; margin:10px auto 0; position:relative;}
	.g-topwrap .gs-logo table img {display:block;}
	.g-topwrap .gs-logo table p span{left:30%; line-height:14px; margin-left:-50px; position:absolute; top:82px; width:160px;}
	.g-topwrap .gs-menu {float:left; width:785px; margin-left:14px; _margin-left:5px;}
	.g-topwrap .gs-menu h1 {width: 765px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;margin-top:27px; line-height:42px; height:42px; display:block; color:#FFFFFF; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; font-size:24px; font-weight:700;}
	.g-topwrap .gs-menu .tum-menus {width:650px; float:left; height:31px; display:block; position:relative; z-index:2; top:18px; margin-top:0;}
	.g-topwrap .gs-menu .tum-menus ul {display:block;}
	.g-topwrap .gs-menu .tum-menus li{ position:relative; display:inline-block; *display:inline; zoom:1; margin-right:5px; height:29px; line-height:29px; margin-top:2px;}
	/**html .g-topwrap .gs-menu .tum-menus li div {background:url(/images/v1/template/navli-bg2.png?20121226_1) no-repeat left 0px;}*/
	.g-topwrap .gs-menu .tum-menus li div { display:inline-block; _display:inline; zoom:1; clear:both; overflow:hidden; height:29px; line-height:29px; background:url(/images/v1/template/navli-bg.png?20121226_1) no-repeat left 0px; padding-left:5px;}
	/**html .g-topwrap .gs-menu .tum-menus li div span {background:url(/images/v1/template/navli-bg2.png?20121226_1) no-repeat right -29px;}*/
	.g-topwrap .gs-menu .tum-menus li div span { display:inline-block; _display:inline; zoom:1; height:29px; background:url(/images/v1/template/navli-bg.png?20121226_1) no-repeat right -29px;}
	.g-topwrap .gs-menu .tum-menus li div span s { height:29px; padding:0 15px; visibility:hidden;}
	.g-topwrap .gs-menu .tum-menus li p { position:absolute; left:0; top:0; display:inline-block; _display:inline; zoom:1; height:29px; line-height:29px; text-align:center;}
	.g-topwrap .gs-menu .tum-menus li p a {color:#000; padding-left:15px; text-decoration:none; font-size:14px; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; font-weight:700; white-space:nowrap;}
	.g-topwrap .gs-menu .tum-menus li.tum-menus-more p a {padding:0 13px; width:14px;}
	.g-topwrap .gs-menu .tum-menus li.tum-menus-more p a i.more{background:url("/images/v1/icon.png?20121226_1") no-repeat -9px -130px; width:7px; height:7px; display:inline-block; *margin-top:13px; font-size:0;}
	.g-topwrap .gs-menu .tum-menus li.tum-menus-more { position:absolute; right:0;}

	.g-topwrap .gs-menu .tum-menus-more {height:31px; line-height:31px; position:absolute; right:30px; width:35px; top:0;}
	.g-topwrap .gs-menu .tum-menus-more span i.fl {float:left; height:29px; width:5px; background: url("/images/v1/template/navli-bg.png?20121226_1") no-repeat;}
	.g-topwrap .gs-menu .tum-menus-more span i.fr {float:left; height:29px; width:5px; background: url("/images/v1/template/navli-bg.png?20121226_1") no-repeat;}
	.g-topwrap .gs-menu .tum-menus-more span a{color:#018201; display:block; float:left; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; font-size:14px; font-weight:700; width:35px; height:29px; line-height:29px; margin-top:2px; text-indent:-9999em; background: url("/images/v1/template/more-bgs.png?20121226_1") no-repeat;}
	.g-topwrap .gs-menu .tum-menus .tum-more-wraper li {margin-right:0;}
	.g-topwrap .gs-menu .tum-menus .tum-more-wraper li a {width:160px;}
	.g-topwrap .gs-menu #tum-modify {width:150px; height:18px; line-height:18px; display:block; position:absolute; right:13px; top:92px; text-align:right;}
	.g-topwrap .gs-menu #tum-modify a {color:#fff;}
	.g-topwrap .gs-menu #tum-modify a:hover {text-decoration:underline;}
	.g-topwrap .gs-menu .tum-menus-more span a.tum-abg i.icon {z-index:3;}

	.g-topwrap .gs-menu .tum-menus li.active {height:31px; line-height:31px; margin-top:0;}
	.g-topwrap .gs-menu .tum-menus li.active div {height:31px; line-height:31px; background-position:left -59px;}
	.g-topwrap .gs-menu .tum-menus li.active div span {height:31px; background-position:right -104px;}
	.g-topwrap .gs-menu .tum-menus li.active div span s{height:31px;}
	.g-topwrap .gs-menu .tum-menus li.active p {line-height:31px; height:31px;}

#more-wraper {background-color:#FFFFFF; border:1px solid #cfcfcf; clear:both; display:block; overflow:hidden; padding:8px 10px; width:120px;}
#more-wraper li {height:20px; line-height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}	
	
	
.wraper .content {width:1000px; display:block; margin:0 auto 30px auto;}
    *html .wraper .content .l {margin-left:6px;}
    .wraper .content .l {float:left; width:181px; margin-left:13px; margin-top:0;}
	.wraper .content .l .wbox {border:1px solid #e5e5e5; -webkit-box-shadow:0 1px 6px #ccc; box-shadow:0 1px 6px #ccc; margin-bottom:10px;}
	.wraper .content .l .wbox h3 {line-height:29px; padding-left:10px; font-size:14px; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; font-weight:700;}
	.wraper .content .l .wbox .main {padding:7px 5px 7px 7px;}
	.wraper .content .l .wbox .main p {line-height:18px; display:block; padding-bottom:5px; overflow:hidden; white-space:normal; word-wrap:break-word; text-shadow: 0 -1px 0 #FFFFFF; color:#666;}
	.wraper .content .l .wbox .main p.zw{display:block; line-height:18px; height:18px; padding-bottom:0px; margin-bottom:5px; white-space:nowrap; overflow:hidden;text-overflow: ellipsis; width:168px;}
	.wraper .content .l .wbox .main p.zw span{ display:inline;}
	.wraper .content .l .wbox .main p.sc span{ padding-bottom:0px;}
	.wraper .content .l .wbox .main p.sc span a{ padding-left:0px;}
	.wraper .content .l .wbox .main span.a-green{ line-height:18px; padding-bottom:5px; display:inline-block;}
	.wraper .content .l .wbox .main p .a-green{text-shadow:none;}
	.wraper .content .l .wbox .main p .a-blue{text-shadow:none;}
	.wraper .content .l .wbox .main span {display:inline-block;}
	.wraper .content .l .wbox .main span.entype{ display:block; width:165px; height:20px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.wraper .content .l .wbox .main span.g-ye {float:left; padding-right:8px;}
	.wraper .content .l .wbox .main span.g-ye,.wraper .content .l .wbox .main span.g-sc {padding-bottom:5px;}
	.wraper .content .l .wbox .main span.g-ye a,.wraper .content .l .wbox .main span.g-sc a{ padding-left:0px;}
	.wraper .content .l .wbox .main p i {width:23px; height:15px; display:inline-block; background:url("/images/v1/preview-icon.png?20121226_1") no-repeat; vertical-align:middle; overflow:hidden; font-size:0;}
	.wraper .content .l .wbox .main p i.R-zhengzj {background:url("/images/v1/yesjie.gif") no-repeat 0px 0px;}
	.wraper .content .l .wbox .main p i.R-zhengzj2 {background:url("/images/v1/nojie.gif") no-repeat 0px 0px;}
	.wraper .content .l .wbox .main p i.R-zheng {background:url("/images/v1/yesrz.gif") no-repeat 0px 0px;}
	.wraper .content .l .wbox .main p i.R-zheng2{background:url("/images/v1/norz.gif") no-repeat 0px 0px;}
	.wraper .content .l .wbox .main p i.R-tel{background:url("/images/v1/yestel.gif") no-repeat 0px 0px;}
	.wraper .content .l .wbox .main p i.R-tel2 {background:url("/images/v1/notel.gif") no-repeat 0px 0px;}
	.wraper .content .l .wbox .main p i.R-email {background:url("/images/v1/yesemail.gif") no-repeat 0px 0px;}
	.wraper .content .l .wbox .main p i.R-email2{background:url("/images/v1/noemail.gif") no-repeat 0px 0px;}
	.search-login {width:350px;}
	.search-login .popup-con .login {background:none; border:medium none; margin-bottom:10px;}
	.search-login .popup-con .login form p {clear:both; display:block; overflow:hidden; padding:6px 0 2px;}
	
	.search-login .popup-con .login .pwsave {padding-left:50px; padding-top:0px; padding-bottom:8px;}
	.search-login .popup-con .login .btns {padding-left:50px; text-align:left;}
	.search-login .popup-con .login label.text-cont {float:left; padding:5px 0 0; width:50px;}
	.search-login .popup-con .login form p span.btn-orange-c{float:left;}
	.search-login .login form {border-bottom:0 none;}
	.wraper .content .l .wbox .a-blue p a,.wraper .content .l .wbox .a-blue p a:hover {text-shadow:none;}
	.Job-pclist2 {width:600px;}
	.wraper .content .c {float:left; width:595px; padding-right:18px; margin-left:22px;_margin-left:15px; min-height:400px; height:auto; _height:400px; display:inline;}
	.wraper .content .l .pre-operation{display:block;line-height:20px;padding-bottom:8px;text-align:center; width:175px;word-wrap:break-word;}
    .wraper .content .l .pre-operation a{ white-space:nowrap;}
	.wraper .content .c .Job-details span.h4{color:#000000;display:inline-block;float:left;font-size:16px;font-weight:700;line-height:24px;padding-right:10px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
    .wraper .content .c .Job-details .t1 span.back,.wraper .content .c .Job-details .t1 span.gray{display:inline-block;line-height:18px;margin-top:4px;}
    .wraper .content .c .Job-details .t2 {margin:15px 0 10px;}
    i.job-jtag{background:url("/images/v1/user_tb.png?20121226_1") no-repeat scroll -39px -77px transparent;display:block;float:left;height:18px;width:18px;}
    .wraper .content .c .Job-details .t2 .tagInfo-div {margin-top:4px;}
    .wraper .content .c .Job-details .t2 .tagInfo-div span,.wraper .content .c .Job-details .t2 .tagInfo-div span a{white-space:nowrap; word-break: break-all;}
    
    .Job-details h3{color:#000000;display:block;font-size:12px;font-weight:700;line-height:28px;}
    .Job-details p{color:#000000;display:block;padding-bottom:5px; }
    span.btn-green-2,span.btn-green-2 a {display: inline-block; text-align: center; vertical-align: middle; white-space: nowrap; overflow: hidden; text-decoration: none; color:#fff;font-weight:700; width:111px; height:31px; line-height:30px; font-size:16px; box-shadow:0 1px 0 #CCCCCC; text-shadow:1px -1px 0 #333333;}
    .wraper .content .c .p-relevant{display:block;margin:15px 0px 15px 0px;padding-top:15px; border-top:1px solid #cccccc;}

    .wraper .content .r{display:inline;float:left;padding:0 0 20px 10px;width:145px; margin-top:0px; border-left:1px solid #cfcfcf;}
    .wraper .content .r .mright-box h2{color:#000000;display:block;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;font-size:14px;font-weight:700;line-height:28px;margin-bottom:5px;text-align:left;}

.footers {width:1000px; margin:15px auto 0 auto; position:relative; padding-bottom:25px;}
.footers p {display:block; text-align:center;}
.footers a {display:inline-block; padding:0 4px;}
   .footers #top {position: absolute; z-index:100; background:url("/images/v1/previews-bg.png?20121226_1") no-repeat scroll -296px -100px;cursor:pointer;height:51px;text-indent:-9999em;width:51px;}
   
/*招聘职位*/   
#tum-modify{display:block;height:18px;line-height:18px;position:absolute;right:13px;top:32px;width:100px;}
.p-zhaopin {display:block; padding:10px 0;}
.p-zhaopin h2{display:block;color:#000;text-align:left;font-weight:700;font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;line-height:28px}
.p-zhaopin ul li{border-bottom:1px dotted #b2b2b2;color:#000;display:block;padding:8px 0}
.p-zhaopin ul li a{cursor:pointer;padding:1px 2px;}
.p-zhaopin ul li a.green:hover{color:#fff; background-color:#018201; text-decoration:none;}
.p-zhaopin ul li a.green{color:#018201}
.p-zhaopin ul li a.blue{color:#0241C1}
.p-zhaopin ul li a.blue:hover{color:#fff; background-color:#0241C1; text-decoration:none;}
.qybq{ line-height:18px;}
.qybq i{ margin-right:6px;}
.qybq span{ float:left; white-space:nowrap;}
*html .qybq span.ie6{ margin-top:3px;}

/*公司简介*/
.p-about{color:#000;display:block;padding:10px 0; overflow:hidden;}
.p-about p{color:#000;display:block;font-size:12px;margin-bottom:15px;white-space:normal;word-break:break-all}
.p-contacts{display:block;}
.p-contacts h3 {font-size:16px; font-weight:700; color:#000; display:block; line-height:28px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; font-weight:bold;}
.p-relevant p,.p-contacts p{color:#000;display:block;line-height:18px;padding-bottom:5px}
.mright-box p a:link{ padding:1px 0px;}
.mright-box p{display:block; line-height:18px; padding-bottom:5px; color:#777;}
.w200 {width:200px;}
.w300 {width:300px;}
.w350 {width:350px;}
.w400 {width:400px;}
.w450 {width:450px;}
.w600 {width:600px;}
.w700 { width:700px;}
.jquery-alert-btn2{border-top:1px solid #ddd;display:block;padding:10px 0;text-align:right;width:100%}
.jquery-alert-btn2 span{margin-right:10px}
.TC-uls{clear:both;display:block;float:left;overflow:hidden;width:100%; padding-bottom:10px;}
.TC-uls li{clear:both;display:block;overflow:hidden;padding-bottom:8px;}
.TC-uls li.li28{ height:30px; padding-bottom:6px;}
.TC-uls li.li20{ height:20px; padding-bottom:8px;}
.TC-uls li.li20 .TC-t{ height:20px; line-height:20px;}
.TC-uls li.li28 .TC-c{ height:30px;}
.TC-uls li.li80{ height:80px;}
.TC-uls li .TC-t{float:left;line-height:28px;width:110px; font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.fs .TC-uls{ padding-top:5px;}
.fs .TC-uls li .TC-t{ width:80px; font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.TC-uls li .TC-t span{line-height:28px; display:inline-block;}
.TC-uls li .TC-c{float:left;margin-top:6px;}
.TC-uls li .TC-c input{_margin:-2px 1px 1px 0;vertical-align:middle}
.TC-uls li.li20 .TC-c input{ display:inline-block; margin:0px 3px 0px 0px;*margin:0px;}
.TC-uls li .TC-c span {display:inline-block; vertical-align:middle;}
.s-pl5{ padding-left:5px;}
.TC-uls li .TC-c span img {vertical-align:middle;}
.TC-uls li .TC-c span.back,.TC-uls li .TC-c span.gray,.TC-uls li .TC-c span.green,.TC-uls li .TC-c span.red{display:inline-block;line-height:28px;padding-left:10px; vertical-align:baseline;}
.TC-c .edit-arays{border:1px solid #8f9f70;color:#000;height:80px;padding:5px;resize:none;width:410px;word-break:break-all}
.te-10 {text-indent:12px;}
.popup-con i.icon-T-tips {margin-right:15px;}
i.icon-T-tips {background:url("/images/v1/user_tb.png?20121226_1") no-repeat scroll -1px -75px transparent; height:26px; width:29px;}

table.preview-Wbox{clear:both;display:block;left:0;overflow:hidden;position:absolute;}
table.preview-Wbox .ul-fl{background-color:#ebebeb;border:1px solid #ccc;float:left;padding:12px 0;width:205px}
table.preview-Wbox .ul-fl li{border-bottom:1px dotted #999;display:block;line-height:18px;padding:3px 5px; clear:both; overflow:hidden;}
table.preview-Wbox .ul-fl li.active {background-color:#FFF;}
table.preview-Wbox .ul-fl li p{clear:both;display:block;overflow:hidden;padding:2px 0}
table.preview-Wbox .ul-fl li p label{float:left}
table.preview-Wbox .ul-fl li p label,.ul-box .ul-fl li p span{display:inline-block;line-height:18px;vertical-align:middle}
table.preview-Wbox .ul-fl li p label input{margin:0;vertical-align:middle}
table.preview-Wbox .ul-fl li p label.pl-10{height:18px;overflow:hidden;padding-left:4px;white-space:normal;width:88px;word-break:break-all}
table.preview-Wbox .ul-fl li p label.pl-10 a{padding-left:0;padding-right:0}
*html table.preview-Wbox .ul-fl p.quanxuan {padding:5px 5px 5px 2px;}
*+html table.preview-Wbox .ul-fl p.quanxuan {padding:5px 5px 5px 2px;}
table.preview-Wbox .ul-fl p.quanxuan {display:block; border-bottom:1px solid #ccc; line-height:18px; padding:5px 2px;}
table.preview-Wbox .ul-fl p.quanxuan label {display:inline-block; line-height:18px; color:#333;}
table.preview-Wbox .ul-fl p.quanxuan label.inp-che input {vertical-align:middle; margin:3px;}
div.divpreview{width:205px; height:360px; _height:344px; overflow:auto; scrollbar-3dlight-color:#999;}

.Company-pclist li {float:left; width:247px; padding:0 10px; margin-right:13px; display:inline;margin-bottom:15px; height:260px;background:url("/images/v1/yl_pageimgbg.jpg") no-repeat;}
*html .Company-pclist li{ margin-right:10px;}
.Company-pclist li .Company-ms{color:#333;display:block;height:22px;line-height:22px;overflow:hidden;padding:3px 2px 0;text-align:left;text-overflow:ellipsis;white-space:nowrap;width: 240px;}
.wraper .c .resume-check{width:570px;}
.Company-img2 {width:243px;height:220px;padding:2px;text-align:center;}
.Company-img2 .Company-imgin {height:220px; text-align:center; vertical-align:middle; width:243px; margin:2px 0 0 0;}
.Company-img2 .Company-imgin a {font-size:200px; width:243px; height:220px; display:table-cell; vertical-align:middle;*display:block;*font-family:Arial!important;*font-size:200px;*line-height:1;}
.Company-img2 .Company-imgin a img {border:medium none; vertical-align:middle;}

/*.Company-img2{width:243px;height:243px; padding:2px;position: relative;display: table-cell;vertical-align:middle;border:1px solid #ccc;text-align:center;}
.Company-imgin{position:static;*position:absolute;top:50%;}
.Company-img2 .Company-imgin a {display:table-cell;font-size:214px; height:243px; text-align:center; vertical-align:middle; width:243px;}
.Company-img2 .Company-imgin img{position:static;*position:relative;top:-50%;left:-50%;}*/

.c #js-content ul,.c #js-content ol {margin:12px 0px; padding:0 0 0 36px;}
.c #js-content img { max-width:550px; width:expression(this.width > 550 ? "550px" : this.width)}
.c #js-content,div.js-JobDescribe {font:12px/1.5 "sans serif",Arial,SimSun,sans-serif;}
.c #js-content p {margin:5px 0;}
.c #js-content ul li {list-style-type:disc;}
.c #js-content ol li {list-style-type:decimal;}
.c #js-content blockquote {margin:12px 40px;}
.KE-item ul{
	padding-left: 15px !important;
	list-style-type: disc !important;
}
.KE-item ul li{
	list-style-type: disc !important;
}

.KE-item ol {
	padding-left: 20px !important;
	list-style-type: decimal !important;
}
.KE-item ol li {
	list-style-type: decimal !important;
} 

/*分页*/
div.page {display:block; padding:3px 5px; margin:5px auto; text-align:center;}
*html div.page a {margin:0 2px;}
*+html div.page a {margin:0 2px;}
div.page a,div.page a:link,div.page a:visited{display:inline-block; height:16px; line-height:16px; margin:0 2px; text-align:center; font-weight:700; color:#018201; overflow:hidden; font-size:14px; font-weight:bold;}
div.page a:hover,div.page a:active{color:red; text-decoration:none;}
div.page a.page-prev {text-indent:-999em; background:url(/images/v1/icon.png?20121226_1) no-repeat -149px -152px;width:16px; }
div.page a.page-next {text-indent:-999em; background:url(/images/v1/icon.png?20121226_1) no-repeat -149px -169px;width:16px; }
div.page a.active {color:red;}

/*视频*/
.prevideo{border-bottom:1px dotted #B2B2B2;margin:0 auto 30px;padding:6px 0 20px;}
.prevideo .ms{margin-left:60px;padding-bottom:6px;}
.ms_j {margin-left:60px;padding-top:6px;width:480px;}
.Company-tv{border-bottom:1px dashed #CCC;display:block;margin:0 auto;padding-bottom:15px;width:600px;}
.Company-tv .Company-msb{color:#000000;display:inline-block;font-weight:700;line-height:30px;margin:0 0 5px;text-align:left;width:100%; text-align:center;}
.Company-tv .Company-video{display:block;float:left;}
.Company-tv .Company-ms{color:#333333;margin-top:10px;word-wrap:break-word;padding-top:5px;width:480px;}
.Company-tv .Company-ms span.gray{ width:480px; text-align:center; display:inline-block;}
.Company-tv .Company-ms,.Company-tv .Company-name p{display:inline-block;line-height:20px;text-align:left;width:100%;}
.x-pa2{margin:20px auto;width:160px;}
.x-pa2 .page{display:inline-block;float:left;margin:0;padding:3px 5px;text-align:left;width:86px;}
.x-pa2 div.page a{float:left;}
.x-pa2 .page span{color:#000000;float:left;font-size:14px;font-weight:700;height:16px;line-height:16px;margin:0 2px;text-align:center;width:40px;}
.x-pa2 span.a-green{display:inline-block;padding-top:2px;}
p.branch-subtitle,div.branch-subtitle {border-bottom:1px solid #cfcfcf; color:#000; padding:0 0px 0 0px; margin-bottom:6px; line-height:20px; font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
p.branch-subtitle, div.branch-subtitle .fl b{ font-size:14px;}
div.branch-subtitle div.page{ margin:0px auto;}
p.branch-subtitle{color:#000000;line-height:28px;}

/*添加点评*/
*html .p-message ul li {padding:9px 0 8px 0px; position:static;}
.p-message ul li {display:block; clear:both; overflow:hidden; padding:12px 0 8px 0px; margin-left:8px; border-bottom:1px dotted #cccccc;}
.com_tjly{ margin-top:28px; border-bottom:none; height:35px;}
.com_tjly i{ float:left; margin-right:6px;}
.com_tjly span{ float:left; font-size:18px; line-height:30px;}
.wraper .content .c .resume-check{ padding-left:24px; /*width:92%;*/}
.p-message ul li.E-xgc .p-messpic {float:left; width:8%;}
.p-message ul li.E-xgc .p-messcont {float:left; width:92%;}
.p-message ul li.E-xgc .x-name {float:left; width:14%;}
.p-message ul li.E-xgc .x-time {float:left; width:56%;}
.p-message ul li.E-xgc .x-tcz {float:left; width:30%; text-align:right;}
.p-message ul li.E-xgc .x-name-box {float:left; width:78%;}
.p-message ul li.E-xgc .x-name-box p,.p-messcont .x-name-box2 p {display:block; line-height:18px; padding-bottom:3px; color:#666; word-wrap:break-word; overflow:hidden;}
.p-message ul li .HF-sj{ float:left; width:570px; height:11px;background:url(/images/v1/sjbg.gif) no-repeat 0px 0px; margin:3px 0px 0px 0px; display:inline; font-size:0px; line-height:0px;}
.p-messcont .x-name-box2 {float:left; width:100%;}
.p-messcont .x-name-box2 p span.blue { color:#256720;}
.p-messcont .x-name-box2 p span.line{ color:#cecece; padding:0px 10px;}
.p-message ul li.E-xgc .x-tcz span.gray {padding-left:10px;}
.p-message ul li.E-xgc .x-hfbox {float:left; display:block; margin-left:14%; width:580px; padding:5px 10px; border:1px solid #ccc; background-color:#f4f4f4;}
.p-message ul li.E-xgc .x-hfbox li {border:0 none; width:99%; height:auto; color:#333;}

.p-message .p-messpic {float:left; width:10%;}
.p-message .p-messcont {float:left; width:90%;}
.p-message .p-messcont .x-name {float:left; width:18%;}
.p-message .p-messcont .x-time {float:left; width:82%; word-wrap:break-word; overflow:hidden; color:#000000;}
.p-message .p-messcont .x-name span {display:block; line-height:18px; padding-bottom:3px; word-wrap:break-word;overflow:hidden;}
.p-message .p-messcont .x-name span.blue{ color:#276421;}
.p-message .p-messcont .x-name span.gray{ font-size:11px;}
.p-message ul li .HF-clearbox {display:block; clear:both; overflow:hidden; width:778px; float:left; margin:3px 0 3px 50px; padding:5px; border:1px solid #ccc; background-color:#f4f4f4; _display:inline;}
.p-message ul li .HF-clearbox2 {width:562px; display:block; clear:both; overflow:hidden; float:left; margin:0px 0 3px 0px; padding:8px; border:1px solid #EFF3E5; background-color:#F8FAF5;}
.blue{color:#0241C1;}
.resume-check ul li{display:block;float:left;height:30px;line-height:28px;margin-bottom:6px;width:49%;}
.resume-check li.YZ-mas {width:99%; height:auto;}
.resume-check li.YZ-mas .check-c span{ display:inline-block; vertical-align:middle;}
.resume-check li.YZ-mas .check-c span input,.resume-check li.YZ-mas .check-c span img {vertical-align:middle;}
.resume-check .check-t{display:block;float:left;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;font-size:14px;width:100px;}
.resume-check .check-c{display:block;float:left;line-height:28px;}
.resume-check .check-t i{display:inline;float:left;margin:8px 3px 0 0;}
.resume-check .check-t i.icon-round-must{background:url(/images/v1/xing.gif) no-repeat 0px 0px;}
.resume-check .check-t i.icon-round-kong{background:url(/images/v1/xing.gif) no-repeat 255px 255px;}
textarea.edit-mb{border:1px solid #8F9F70;color:#000000;height:150px;padding:5px;resize:none;width:500px;}

/*图片详情*/
.preview-mcont{display:inline;float:left; padding-right:10px; width:590px;}
.Company-tv div.align-c{text-align:center;}

/*公司动态*/
table.Com-tnew{border:0 none;margin-top:0;width:100%;}
table.Com-tnew td{border-bottom:1px dashed #CCCCCC;line-height:18px;padding:8px 5px;}
table.Com-tnew td i.Release-bg-14{margin-top:-3px;vertical-align:middle;}
.Release-bg-14{background-position:-124px -330px;cursor:pointer;height:16px;width:16px;}
.p-contacts h3 {font-size:16px; font-weight:700; color:#000; display:block; line-height:28px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; font-weight:bold;}
.p-relevant{border-top:1px solid #CCCCCC;display:block;margin:15px 0;padding-top:15px;}

/*地区站弹出层样式*/
.tc-pourelatve {position:relative; z-index:21;}
.topnav .nav .hyz--showhide {position:absolute; width:130px; z-index:999;}
.topnav .nav .hyz--showhide ul li {background:none; padding:1px 0; width:65px;}
body.one .topnav .nav .hyz--showhide ul li,body.onec .topnav .nav .hyz--showhide ul li,body.tow .topnav .nav .hyz--showhide ul li,body.towc .topnav .nav .hyz--showhide ul li,body.threec .topnav .nav .hyz--showhide ul li,body.threec .topnav .nav .hyz--showhide ul li,body.four .topnav .nav .hyz--showhide ul li,body.fourc .topnav .nav .hyz--showhide ul li,body.five .topnav .nav .hyz--showhide ul li,body.fivec .topnav .nav .hyz--showhide ul li {border-right:0;}
.topnav .nav .hyz--showhide ul li a {color:#0241C1; padding:1px 2px;}
.topnav .nav .hyz--showhide ul li a:hover {color:#fff; background-color:#0241C1;}
.w360 {width:360px;}
.w450 {width:450px;}
.w600 {width:600px;}
*html .w610 {width:613px;}
*+html .w610 {width:613px;}
.w610 {width:610px;}
.w700 {width:700px;}
i..icon-round-del {background-position:-199px -166px; height:17px; width:17px;}
.recommend,.recommendlist{padding:8px;width:490px;}
.u_erceng{background-color:#EEF4E5;border:1px solid #425817;box-shadow:2px 2px 0 rgba(150,150,150,0.5);color:#000000;display:none;font-family:Arial,SimSun,sans-serif;line-height:18px;overflow:hidden;padding:12px;}
.recommend span,.recommendlist span {cursor:pointer; float:right;}
.recommend li,.recommendlist li {float:left; padding-right:8px;}
.recommend li a,.recommendlist li a {color:#018201; cursor:pointer;}
/*创建标签弹出层*/
.u-kfsz{width:450px;}
.u-kfsz .tagtxt .ipt{width:380px;}
.u-kfsz p .tagtxt input{width:375px;}

/**+html #ifrme-comcert {height:144px;}
#ifrme-comcert {height:147px!important;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#ifrme-comcert {height:146px;}
}*/

.zs-lin30 {display:inline-block; line-height:30px; padding-left:10px;}
.tagec{ padding:5px; width:130px;}
.zs-lindiv{ height:70px;}
/*左侧给公司发消息*/
.fxx li div.TC-ta{ line-height:28px; font-size:14px;font-family: "Microsoft YaHei",Arial,SimSun,sans-serif;}
.fxx li div.TC-ca .edit-arays{border: 1px solid #8F9F70;color: #000000;display: block;height: 80px;padding: 5px;word-break: break-all; width:412px; margin-bottom:5px;_margin-bottom:0px;}
.fxx li div.TC-ca p.gray{ height:30px; line-height:30px;}
.fxx .popup-con{ padding:5px 10px 0px 10px;}
.fxx .js-resultvalue{ margin:10px 0px;}
.fxx .popup_succes p.cg{margin:10px 0px 15px 0px;}

.resume-check div.vertical-mspan {height:30px;}	
.resume-check div.vertical-mspan span,.resume-check div.vertical-mspan span img{ vertical-align:middle; display:inline-block;}	

/*图片上传中*/
div#upl {border:1px solid #ccc; width:200px; margin:30px; padding:20px; background-color:#fff; background-repeat:no-repeat;} 
div#upl img {float:left; padding-right:15px; vertical-align:middle;}
div#upl h2 {float:left; margin:0px; line-height:32px; font-family:'Microsoft YaHei',Arial,SimSun,sans-serif;}
#jquery-extend-mask-inner .recommend,#jquery-extend-mask-inner .recommendlist{padding:8px;width:490px;}
.a-blue .zw a{ padding:1px 0px;}