@charset "utf-8";
/* img */
.job_area h2,
.job_area .hot,
.job_area .all .zooming_off,
.tips_list div,
.tips_list h3 { background:url(/images/v1/index.png?20121226_1) no-repeat; }

.l { float:left; width:693px; margin-top:20px; }
.r { float:right; width:280px; margin-top:20px;font-family:Arial,SimSun,sans-serif; }
.threer{ float:right; width:340px; margin-top:20px;}

/* www.quanzhi.com */
.web .header{ z-index:10;}
.web .u-nav{ height:18px;}
.web .u-nav .cont{ height:18px;}
.web .header .sub_nav li div{ left:-50px;}
.web .job_area{ margin-bottom:20px;}
.job_area { position:relative; margin-top:18px; }
.job_area h2 { float:left; display:block; width:132px; height:56px; line-height:40px; text-indent:40px; font-size:18px; color:#fff; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; background-position:-351px 0; text-shadow:1px -1px 0 #333; }
.job_area .hot { float:left; width:720px; max-height:50px; margin:3px 10px; padding:8px 0 5px; _padding-bottom:0; background-position:center -397px;  background-repeat:repeat-y; }
.job_area .hot h3 { float:left; width:86px; display:block; font-size:12px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.job_area .hot h3 i,.job_area .hot h3 span{ float:left;}
.job_area .hot h3 span{ line-height:20px;}
.job_area .hot ul { float:left; width:634px; }
.job_area .hot li { float:left; display:inline; margin-right:8px; _margin-right:7px; font-weight:bolder; line-height:20px; }
.job_area .hot p .btn { position:absolute; right:10px; top:5px; z-index:1; zoom:1; }
.job_area .hot a { font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; }
.job_area .all { clear:left; padding:0 20px; }
.job_area .all h3 { display:none; }
.job_area .all ul { overflow:hidden; position:relative; }
.job_area .all li { position:relative; padding:3px 0; line-height:25px; border-bottom:1px dotted #ccc; overflow:hidden; zoom:1; }
.job_area .all li ul li{ padding:0px;}
.job_area .all li.fs14{ font-size:14px; padding:10px 0px;}
.job_area .all li.fs14 h4.text-hot{ font-size:14px; width:110px; color:#FD3102; font-weight:bold;}
.job_area .all li.fs14 ul{ width:840px;}
.job_area .all li.fs14 ul li{ margin-right:8px; font-weight:bold;}
.job_area .all li.fs14 ul li a{ color:#018201;}
.job_area .all li.fs14 ul li a:hover{ color:#FFFFFF;}
.job_area .all li.fs14h{font-size:14px; padding:10px 0px; color:#000000; padding-left:30px; line-height:24px; font-family:"宋体";}
.job_area .all li.fs14h p .btn{ position:absolute; right:10px; top:5px; z-index:1;}
.job_area .all li.fs14h i.icon-boll,.job_area .all li.fs14 i.icon-hot{ top:12px;}
.job_area .all li h4 { float:left; width:85px;position:relative;text-align:right;right:10px; color:#018201; font-size:12px; font-weight:normal; }
.job_area .all li h4 a,.job_area .all li li a {cursor:pointer;}
.job_area .all li h4 a {color:#018201;}
.job_area .all li i.icon { position:absolute; left:2px; top:6px; }
.job_area .all li ul { float:left; width:865px; }
.job_area .all li li { display:inline; border:0; margin-right:15px; white-space:nowrap; }
.job_area .all li li a {}
.job_area .all .zooming_off { height:30px; background-position:center -397px;  background-repeat:repeat-y; text-align:center; cursor:pointer; }
.job_area .all .zooming_off i.icon { top:5px; }

.tips_list { float:left; width:710px; margin-top:20px; }
.tips_list div { float:left; width:350px; height:223px; margin-bottom:5px; display:inline; margin-right:5px; }
.tips_list h2 { display:none; }
.tips_list h3 { display:block; height:43px; line-height:42px; text-indent:12px; margin:1px; background-position:0 -266px; font-size:18px; color:#fff; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.tips_list h3 a,.tips_list h3 a:link,.tips_list h3 a:visited {font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.tips_list h3 sup { vertical-align:baseline; font-size:1em; *font-size:1.2em; font-size:12px; *font-size:14px; font-family:Arial,SimSun,sans-serif; font-weight:normal; }
.tips_list .a h3 { background-position:0 -353px; }
.tips_list .b h3 { background-position:0 -309px; }
.tips_list .c h3 { background-position:0 -223px; }
.tips_list ol { padding:12px 15px 0; overflow:hidden; }
.tips_list li { position:relative; padding:0 50px 0 10px; height:24px; line-height:24px; overflow:hidden; }
.tips_list li i.icon { position:absolute; left:0; top:8px; }
.tips_list li i.icon-right-a{ left:3px; top:10px;}
.tips_list li cite { position:absolute; top:0; right:0; font-size:10px; font-style:normal; font-family:"Arial"; }
.tips_list .a h3 a,.tips_list .b h3 a,.tips_list .c h3 a,.tips_list .d h3 a{ color:#FFFFFF; text-decoration:none;}
.tips_list .a h3 a:hover,.tips_list .b h3 a:hover,.tips_list .c h3 a:hover,.tips_list .d h3 a:hover{ color:#FFFFFF; text-decoration:none; background:none;}

/* beijing.quanzhi.com */
.search-h,.cookie { position:relative; padding-left:8px; }
.search-h h2 { display:inline; line-height:50px; }
p.text { display:inline; margin-left:10px; }
*html p.more {top:22px;}
*+html p.more {top:12px;}
p.more { position:absolute; right:10px; top:22px;}
.search-h .search { clear:left; margin-bottom:10px; }

.cookie { margin-bottom:10px; }/*zjj edit 20 to 10*/
.cookie h2 { display:inline; line-height:40px; }
*html .cookie p.more {top:7px;}
*+html .cookie p.more {top:7px;}
.cookie p.more { top:15px; }
.cookie li { display:inline; line-height:20px; padding-right:15px;}
/*.cookie li a{ white-space:nowrap;}*/

.post { margin-bottom:20px; padding-bottom:20px; }
.post p.help { border-top:1px solid #ddd; padding:10px 8px; }/*zjj edit padding*/

.post h3 { display:block; padding-bottom:3px;}
.post h3 i.icon { margin-right:5px; }
.post .list { position:relative; padding:10px 0px 8px 8px; /*overflow:hidden;*/ zoom:1; clear:left;}
.post .list ol { margin-left:35px; overflow:hidden; }
.post .list li { float:left; width:216px; /*overflow:hidden;*/ height:23px; line-height:23px; position:relative; zoom:1; }
.post .list ol.xy li { width:129px;}
.post .list li cite { position:absolute; top:0; right:10px; font-style:normal; zoom:1; }
.post .list li cite,.post .list li span { font-size:10px; }
.post .list-2 ol { margin:10px 0 0 2px; border:dotted #ddd; border-width:0 1px 1px 0; overflow:hidden; zoom:1; }
.post .list-2 li { width:226px; height:80px;/*overflow:hidden;*/ border:dotted #ddd; border-width:1px 0 0 1px; }
.post .list-2 dl { padding:5px; color:#333; }
.post .list-2 dt,.post .list-2 dd { height:22px; overflow:hidden; text-overflow:ellipsis; }
.post .list-2 dt { height:24px; padding:0px 3px; }
.post .list-2 dt a { font-size:14px; }
.post .list-2 dd { padding:0 5px; }
.post .list-2 dd span { color:#333; font-size:12px; }
/*行业站*/
.post .hytitle h3.text-h2{ height:32px;}
.post .hytitle h3.text-h2 i.icon{ float:left; display:inline; margin-right:5px;}
.post .hytitle h3.text-h2 span{ float:left; line-height:30px;}
.post .hytitle .list{ padding-bottom:0px;}
.post .hy .list{ padding-left:0px; margin-left:15px; width:660px;}
.post .hy h3.text-h2{ font-size:12px; font-weight:bold;font-family:Arial,SimSun,sans-serif; border-bottom:1px dotted #cccccc; padding-bottom:5px; margin-bottom:5px; padding-left:2px;}
.post .hy .list ol{ margin-left:0px;}

.login,
.userinfo { border:1px solid #ddd; background:#eef4e5; margin-bottom:20px; }
.login h2 { position:relative; display:block; padding:15px 0 0 72px; line-height:45px; width:208px; }
.login h2 i.icon,.login div.text-h2 i.icon { position:absolute; top:10px; left:25px; }
.login div.text-h2 { position:relative; display:block; padding:15px 0 10px 72px; width:268px;}
.login div.text-h2 div.div1{ font-size:16px; color:#018201; font-weight:bolder; margin-bottom:5px;}
.login div.text-h2 div.div1 span{ font-size:14px; font-weight:normal; color:#666666;}
.login div.text-h2 div.div2{ font-size:12px; font-weight:normal; color:#666666;}
.userinfo p.text-h3{ margin-bottom:3px;}
.userinfo p.wyz{ padding-bottom:4px; padding-right:3px;}
.userinfo p.wyz span.text-new i{ float:left; margin-right:2px; display:inline;}
.userinfo p.wyz span.text-new b{ font-weight:normal; float:left;}
*html .userinfo p.wyz span.text-new b{ padding-top:1px;}
.userinfo p.bs{ padding-right:3px;}
.userinfo p.bs span.sx{ color:#a5a5a5; padding:0px 2px;}
.threer .ipt input{ width:192px;}
.threer .login{ padding-bottom:15px;}
.nologin .threer .login form p.pwsave{ padding-top:15px;}
.login form { border-bottom:1px solid #ddd; }
.threer .login form { border-bottom:none;}
.login legend { display:none; }
.login form p { padding:8px 0 0 24px; }
.login input { vertical-align:middle; }
.login label { padding-right:5px; }
.login .pwsave { padding:0px 0 8px 52px;}
.login .pwsave input,.login .pwsave label,.login .pwsave span{ float:left; display:inline-block; line-height:18px;}
.login .pwsave input{ display:inline;*margin-top:-2px;}
.login .btns { padding-left:0; padding-bottom:15px; text-align:center; }
.snsLogin { border-top:1px solid #fff; padding:10px 0 10px 20px; line-height:25px; overflow:hidden; }
@media (-webkit-min-device-pixel-ratio:0){
	.snsLogin p { width:300px; }
}
.snsLogin span { padding-right:12px; white-space:nowrap; }
.snsLogin i.icon { margin-right:3px;}

.userinfo { border-bottom:0; }
.userinfo .border a:link,.userinfo .border a:visited { font-family:Arial,SimSun,sans-serif!important; }
.userinfo div { position:relative; padding:0 0 10px; }
.userinfo .gljl div{ padding-bottom:8px;}
.userinfo .gljl p.jl{ padding-bottom:5px;}
.userinfo .gljl p.jl a{ float:left; padding:0px; margin-right:3px; display:inline;}
.userinfo .gljl p.jl img{ float:left;}
.userinfo div.border { padding:8px 0 0 8px; border-width:1px 0; border-style:solid; border-color:#fff #fff #ddd #ddd; }
.userinfo div.msg { padding-top:10px; padding-right:0px; }
.userinfo div.msg h2 { height:45px; white-space:nowrap; overflow:hidden; }
.userinfo div.msg i.icon-user-a { margin-right:5px; vertical-align:top; float:left; display:inline; width:43px; height:43px; margin-bottom:10px;}
.userinfo div.msg div { width:220px; float:left; }
.userinfo h2,.userinfo h3 { position:relative; display:block; }
.userinfo h3 { margin-top:5px; }
.userinfo em { font-style:normal; font-weight:normal; color:#333; }
.userinfo .fn {padding-right:5px; float:right; font-size:12px; font-weight:normal;}
.userinfo .fn span.sx{ font-family:Arial, Helvetica, sans-serif; color:#a5a5a5; padding:0px 2px;}

.banner { margin-bottom:20px; }
.banner a img { display:block; }
/* itquanzhi.com */
/*首页底部图标*/
.icon-square-sina{background-position:-0px -506px; width:37px; height:37px; }
.icon-square-tx{background-position:-42px -506px; width:37px; height:37px; }
.icon-square-happy{background-position:-84px -506px; width:37px; height:37px; }
.icon-square-ren{background-position:-126px -506px; width:37px; height:37px; }

.login h2.text-h2 a.zpq {color:#333;}
.login h2.text-h2 a.zpq:hover {color:#018201; text-decoration:none;}

/*新加的地区招聘和消息中心，友情链接*/
.Area-manager,.job-marker {display:block; clear:both; overflow:hidden; padding-bottom:10px; padding-left:8px; margin-bottom:20px;}
.Area-manager .area-h h3,.job-marker-title {height:30px; width:550px; float:left; display:block; line-height:30px;font-family: "Microsoft YaHei",Arial,SimSun,sans-serif; font-size:18px; color:#333; font-weight:700; }
.Area-manager .area-h h3 i,.job-marker-title i {display:block; width:32px; height:30px; float:left; background:url(../images/v1/diqunew-bg.jpg) no-repeat -6px -33px; margin-right:5px;}
/*职场资讯*/
.job-marker {width: 685px;margin-bottom:0;}
.job-marker-title i {display:block; width:32px; height:30px; float:left; background:url(../images/v1/icon.png) no-repeat -389px -686px;}
.Area-manager .area-h span.a-green,.job-marker span.a-green {display:inline-block; float:left; padding-left:10px; padding-top:10px; line-height:18px;}
.job-marker span.a-green {padding-left: 45px;}
.Area-manager .area-h span.a-green i,.job-marker span.a-green i {display:inline-block; width:16px; height:16px; background:url(../images/v1/diqunew-bg.jpg) no-repeat -91px -39px; vertical-align:middle;_vertical-align:baseline;}
.Area-manager .sli-box {display:block; width:100%; margin-top:12px;_margin-top:-8px;}
.Area-manager .sli-box .bg {height:34px; line-height:34px; color:#fff; background:url(../images/v1/searchlist-titlebg.gif) repeat-x 0 -34px;}
.Area-manager .sli-box .bg i.shux {background:url("../images/v1/searchlist-titlebg.gif") no-repeat scroll 0 -102px transparent; float:left; height:34px; margin-right:3px; width:2px; font-size:0;}
.Area-manager .sli-box .ptb-5 td {padding:6px 5px; line-height:18px; color:#333;}
.Area-manager .sli-box .ptb-5 td.a-green i.jt,.workplacebox ul li i.jt,.job-marker-list i.jt {background: url("../images/v1/icon-new.png") no-repeat -10px -26px; display:block; float:left; font-size:0; height:7px; margin:6px 5px 0 0; _margin-right:2px; width:7px;}

.workplacebox {display:block; clear:both; overflow:hidden; margin-top:2px;}
.workplacebox div.clearbox {width:280px; height:32px; /*background:url(../images/v1/diqunew-bg.jpg) no-repeat 0 0; */ background:  #EEF4E5;border:1px solid  #DDD;}
.workplacebox div h2 {line-height:31px; display:block; width:178px; float:left; font-family: "Microsoft YaHei",Arial,SimSun,sans-serif; font-size:16px; color:#333; padding-left:15px;}
.workplacebox div span.a-green {display:inline-block; float:left; padding-left:10px; padding-top:8px; line-height:18px;}
.workplacebox ul {display:block; width:262px; border:1px solid #ddd; border-top:0 none; padding:5px 6px 5px 10px}
.job-marker-list {padding: 5px 6px 5px 6px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; width: 685px;}
.workplacebox ul li,.job-marker-list li{clear:both; display:block; line-height:18px; height:18px; overflow:hidden; padding:4px 0;} 
.job-marker-list li {float: left;width: 335px;clear:none;}
.Flinks {width:960px; margin:0 auto; padding:10px 20px 20px; background-color:#f4f4f4; border-top:1px dotted #ddd;}
.Flinks h2 {font-family: "Microsoft YaHei",Arial,SimSun,sans-serif; font-size:16px; color:#666; display:block; line-height:30px;}
.Flinks h2 i {width:30px; height:30px; float:left; display:block; font-size:0; vertical-align:middle; margin-right:5px; background:url(../images/v1/diqunew-bg.jpg) no-repeat -49px -33px;}
.Flinks ul {display:block; clear:both; overflow:hidden; padding:6px 0 5px 15px;}
.Flinks ul li {display:block; line-height:20px; width:150px; float:left; margin:3px 0;}
.Flinks ul li a {line-height:20px;}
.Flinks ul li a:hover {color:#018201;}
#more-conditions .ipt-text-select{ padding-right:25px;}
#more-conditions .ipt-text-select input{ width:138px;}

.renren-links{background-color:#ffffff;color:#383A39;height:64px; overflow:hidden; padding:10px 0 0 12px; width:266px; border-bottom:8px solid #E6E6E6}
.renren-links .r-logo{float:left;}
.renren-links .r-logo img{border:1px solid #CCCCCC;}
.renren-links .r-name{padding-left:64px;}
.renren-links .r-name p{height:23px;line-height:23px;}
.renren-links .r-name p strong{display:inline-block;line-height:23px;}
.renren-links .r-name p.listenArea{display:inline-block;float:left;height:23px;overflow:hidden;padding-top:4px;width:76px;}
.cont-list div.on li.ifams-li {background:none;}
.cont-list #userInfo{ background:none; background-color:#FFFFFF;}

.nologin .login form p{ padding-left:24px;}
.nologin .login label{ float:left; padding:5px 0px 0px 0px; width:40px;}
.yzm .ipt input{ width:40px;}
.nologin .login form p span{ float:left;}
.yzm span{ margin-right:5px; display:inline; white-space:nowrap;}
.yzm span.text-hot{ padding-left:48px;}
.yzm span.text-hot{ padding-top:2px;}
.yzm span img{ height:28px;}
.yzm span.user_pt5{ padding-top:5px;}
.nologin .login form p span{ float:left;}
.nologin .login form p.pwsave{ padding-left:60px; overflow:hidden; height:18px; padding-bottom:0px; margin-bottom:8px;}
.nologin .login form p.pwsave span{ float:left;}
.nologin .login form p.pwsave span.text-cont{ padding-right:5px;}
.nologin .login form p.btns{ padding:8px 0px 15px 24px; text-align:left;}
.nologin .login form p.btns span{ float:none;}
/*baozi weixin*/
.weixin { margin-left: 24px;}
.weixin-info {float: left; width: 120px;margin-left: 12px;}
.weixin-info h3 {color: #000;font-size: 14px;}
.weixin-info-list {margin-top: 10px; color:#333333;}
.weixin-img { width: 100px;height: 100px; float: left;}
/*zjj advert*/
.advert{ margin-bottom:20px;}
.quan_advert{ background-color:#f2f2f2; padding:8px 0 0px 9px; clear:both; overflow:hidden; margin:15px 2px 10px 8px;_height:65px;}
.quan_advert li{ float:left;width:158px; height:62px; border:1px solid #999999; margin-right:8px; display:inline; margin-bottom:8px;}
.quan_advert li img{ width:158px; height:62px;}
.a-green .quan_advert li a{ margin:0px; padding:0px; background:none; display:block; width:158px; height:62px;}
/*推荐企业*/
.energy_titlein{margin:15px 0px 0px 8px; height:35px;}
.energy_titlein i{ display:block; width:30px; height:30px; float:left; margin-right:5px; display:block;}
.energy_titlein i.brandcom{background:url(../images/v1/campus-jpg.jpg) no-repeat -580px -63px;}
.energy_titlein i.recomcom{background:url(../images/v1/campus-jpg.jpg) no-repeat -640px -63px;}
.energy_titlein span.zi{ font-size:18px; font-weight:bold; line-height:30px; float:left;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; color:#333;}
.recommendcom_index {width:681px; margin:0px 0px 25px 8px; border:1px solid #ddd; background-color:#EEF4E5;}
   .recommendcom_index h3 {height:33px; display:block; line-height:30px; margin-left:8px;}
   .recommendcom_index h3 i {display:block; width:35px; height:30px; float:left; background:url(../images/v1/campus-jpg.jpg) no-repeat -640px -63px;}
   .recommendcom_index ul {display:block; clear:both; overflow:hidden; margin:0 0 0 0px;border:1px solid #ddd; background-color:#EEF4E5; padding:6px 0 0 6px; height:198px; margin-left:8px; margin-right:1px;}
   .recommendcom_index ul li {float:left; width:211px; height:52px; margin:0px 6px 6px 0px; display:inline; border:1px solid #ddd; background-color:#FFFFFF; padding:3px;}
   .recommendcom_index ul li img { float:left; width:114px; height:52px;}
   .recommendcom_index ul li div.name{ float:left; width:88px; padding-left:6px; overflow:hidden;}
   .recommendcom_index ul li div.name a{ white-space:nowrap; line-height:25px;}
/*zjj add new head*/
.index .h-search .cont{ background:url(/images/v1/base-h-bgwww.png) no-repeat;}
    .index .h-search{ height:56px;}
    .index .h-search .cont { height:56px; }
	.index .h-search .search p { height:46px; padding-top:10px; }
	.index .h-nav{ height:88px;}
	.index .h-nav .cont { height:88px;background:url(/images/v1/hyiconwww.png) no-repeat;}
	.index .h-nav h2{ padding:20px 0 0 15px;}
	.index .h-nav ul{ margin-top:5px;}
	.index .h-nav li{ width:68px;}
	.index .h-nav li div div li{ width:260px;}
	.index .h-nav li.tradehover h3{ width:66px;background:url(/images/v1/hyiconwww.png) no-repeat;}
	.index .h-nav li#trader_0 h3{ background-position:-117px -138px;}
	.index .h-nav li#trader_1 h3{ background-position:-185px -138px;}
	.index .h-nav li#trader_2 h3{ background-position:-253px -138px;}
	.index .h-nav li#trader_3 h3{ background-position:-321px -138px;}
	.index .h-nav li#trader_4 h3{ background-position:-389px -138px;}
	.index .h-nav li#trader_5 h3{ background-position:-457px -138px;}
	.index .h-nav li#trader_6 h3{ background-position:-525px -138px;}
	.index .h-nav li#trader_7 h3{ background-position:-593px -138px;}
	.index .h-nav li#trader_8 h3{ background-position:-661px -138px;}
	.index .h-nav li#trader_9 h3{ background-position:-729px -138px;}
	.index .h-nav li#trader_10 h3{ background-position:-797px -138px;}
	.index .h-nav li#trader_11 h3{ background-position:-865px -138px;}
	.index .h-nav li#trader_12 h3{ background-position:-933px -138px;}
	/*名企招聘*/
.Enterprises_index {width:681px; margin:0px 0px 10px 8px; border:1px solid #ddd; background-color:#EEF4E5;}
   .Enterprises_index h3 {height:35px; display:block; line-height:30px;}
   .Enterprises_index h3 i {display:block; width:40px; height:35px; float:left; background:url(../images/v1/campus-jpg.jpg) no-repeat 0 -84px;}
   .Enterprises_index ul {display:block; clear:both; overflow:hidden; margin:6px 0 0 6px;}
   .Enterprises_index ul li {float:left; width:225px; height:63px;}
   .Enterprises_index ul li a {display:block; background:none;}
   .Enterprises_index ul li img {width:216px; height:56px; display:block; border:1px solid #ddd;}
/*推荐企业*/
.recommendcom_index2 {width:681px; margin:0px 0px 20px 8px; border:1px solid #ddd; background-color:#EEF4E5; _height:266px;}
   .recommendcom_index2 h3 {height:35px; display:block; line-height:30px;}
   .recommendcom_index2 h3 i {display:block; width:40px; height:35px; float:left; background:url(../images/v1/campus-jpg.jpg) no-repeat -311px -2px;}
   .recommendcom_index2 ul {display:block; clear:both; overflow:hidden; margin:5px 0 0 0px;}
   .recommendcom_index2 ul li {float:left;/* width:227px;*/ height:52px; margin:0px 0px 5px 5px; display:inline; border:1px solid #ddd; background-color:#FFFFFF; padding:3px;}
   .recommendcom_index2 ul li img { float:left; width:125px; height:52px;}
   .recommendcom_index2 ul li div.name{ float:left; width:79px; padding-left:8px; overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
   .recommendcom_index2 ul li div.name a{ white-space:nowrap; line-height:25px;}
 
