/*搜索列表*/
.search-list{width:970px;background:#dff0dd;padding:6px 0 15px;margin:15px auto 0;position:relative;color:#000;}
.search-list-filter{margin-left:10px;}
.search-bar-btn span{margin-left:65px;}
.search-list-filter label,.search-list-setting label{width:66px;font:14px "Microsoft YaHei",Arial,SimSun,sans-serif;color:#020000;float:left;_padding-top:4px;line-height:25px;}
/*UI公用样式*/
.ui-linBor{position:relative;float:left;}
.ui-linBor input{width:242px;height:26px;line-height:26px;_line-height:27px;text-indent:2px;padding:0;border:1px solid #8f9f70;color:#a5a5a5;}
.ui-tranigle{width:0;height:0;border-width:6px;border-style:solid;border-color:#fff;border-top-color:#000;display:block;cursor:pointer;position:absolute;right:6px;top:12px;_line-height:0px;}
.ui-data-border{border:1px solid #435918;}
.ui-tranigle-wrap{background:#FFF;display: block;height: 25px;position: absolute;right: 1px;top: 2px;width: 28px;}
.ui-title{font:bold 18px "Microsoft YaHei",Arial,SimSun,sans-serif;}
.ui-data-title{font-size:12px;font-weight:bold;padding:14px 0 5px;border-bottom:1px dotted #DCDCDC; margin-bottom:5px;}
/*ie6 7 hack*/
.ie6ver{*padding-top:3px}
.ie6ver input { vertical-align:middle;}
.search-bar-more{border:1px solid #8f9f70;background:#fff;width:552px;position:absolute;left:66px;*left:68px;top:27px;z-index:999;box-shadow:2px 3px 2px #d5d5d5;padding:6px 0 14px 10px; box-shadow:2px 2px 0 rgba(0,0,0,.2);}
.search-bar .search-bar-more li{width:276px;}
.search-bar-more input{width:198px;color:#333;}
.search-list-filter .search-bar{width:640px;position:relative;z-index:99;}
.search-list-filter .search-bar-text{width:562px;}
.search-list-filter li{float:left;width:320px;line-height:30px; height:30px;margin-top:8px;}
.search-list-filter .salary-bar{width:180px;}
.search-record-content{padding:12px 0 18px 2px;width:918px;}
.search-record-content li{display:inline;margin-right:16px;height:22px;line-height:22px;}
.search-record,.search-record-wrap{width:970px;margin:0 auto;color:#000;}
.search-record{margin-top:24px;border-bottom:1px solid #E8E8E8;}
a.clear-record{color:#018201;}
.search-record-wrap{margin-top:30px; padding-bottom:30px;}
.class-search{width:700px;float:left; margin-bottom:30px;}
.record-wrap-title{background:url(/images/v1/ico.png) 0 -43px no-repeat;height:30px;line-height:30px;padding-left:42px;}
.search-class-content{margin-top:15px;background:url(/images/v1/menubar.png) 0 -41px no-repeat;}
.class-content-title .hover-on{background:url(/images/v1/menubar.png) -1px 0 no-repeat;color:#000 !important;}
.class-content-title{padding-left:5px; margin-bottom:5px;}
.class-content-title li{width:132px;float:left;}
.class-content-title a{font:bold 14px "Microsoft YaHei",Arial,SimSun,sans-serif;color:#018201 !important;float:left;width:128px;text-align:center;margin:5px 4px 0 0;height:35px;line-height:35px;background:url(/images/v1/menubar.png) -135px 0 no-repeat;}
.class-content-title a:hover {background:url(/images/v1/menubar.png) -1px 0 no-repeat;color:#000 !important;text-decoration:none;}
.class-content-data{margin-left:8px;}
.class-content-data a{color:#018201 !important;}
.class-content-data a:hover,.class-content-data a.hover{background:#DFF0DD;text-decoration:none;}
.class-content-data span{padding:0 2px;}
.content-data-list{margin:0 0 5px 0;}
.content-data-list li{float:left;}
.content-data-list a{height:23px;display:block;line-height:23px;width:217px;margin-right:10px;overflow:hidden;padding-left:2px;white-space:nowrap;text-overflow:ellipsis;}
.class-content-area .content-data-list a { width:125px; }
.data-list-select { display:none; position:absolute; z-index:99; width:394px; border:3px solid #DFF0DD; background:#fff; }
.data-list-select div { padding:5px; }
.data-list-select h4 { position:relative; text-indent:2px; font-size:12px; }
.data-list-select h4 a { width:100%!important; }
.data-list-select h4 i { display:block; position:absolute; right:0; top:3px; background:url(/images/v1/ico.png) -10px -102px no-repeat; height:20px;width:20px; cursor:pointer; }
.data-list-select ol { width:380px; }
.data-list-select li { width:190px; overflow:hidden; color:#000; text-indent:2px; }
.data-list-select li a { width:190px!important; height:23px; line-height:23px; padding:0; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.data-hover-on{background:#DFF0DD;}
.class-search-sidebar{float:right;width:245px;margin-top:10px;}
.class-search-sidebar h3{background:url(/images/v1/columnbg.png) no-repeat;height:42px;line-height:45px;_line-height:50px;padding-left:50px;}
.search-sidebar-list{background:url(/images/v1/columnbg.png) -246px 0 repeat-y;padding:8px 0 14px;_margin-top:-9px;}
.search-sidebar-list li{float:left;line-height:23px;height:23px;width:184px;overflow:hidden;padding-left:26px;background:url(/images/v1/ico.png) 3px -76px no-repeat;}
.search-sidebar-bottom{height:8px;background:url(/images/v1/columnbg.png) no-repeat -491px -34px;}
.search-sidebar-ad{margin-top:20px;}
.search-sidebar-ad img{ margin-left:3px;}
/*搜索列表按钮*/
.search-btn{background:url("/images/v1/ico.png") no-repeat;float:left;width:135px;vertical-align:middle;margin:0px 0 0 66px;}
.search-btn button {
  text-shadow: -1px -1px 0px rgba(0,0,0,.4);
  border:0 none;
  background: none;
  line-height:35px;
  _line-height:40px;
  height:38px;
  outline: none;
  color:#fff !important;
  overflow:hidden;
  padding-left:36px;
  _padding-left:20px;
  position:relative;
  top:-2px;
  _top:0px;
}
.search-btn:hover{text-decoration:none;box-shadow:0 1px 3px #FFCD8C inset,0 -1px 3px #E26E28 inset,0 0 3px #DE8231 inset,1px 1px 2px rgba(0,0,0,0.4);border-radius:3px;}
/*so 广告位 w 155 h 50 6*/
.base-ad{
  background: #f2f2f2;
  width: 970px;
  padding-top:4px;
  padding-bottom: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.base-ad-list li{
  float:left;
  border:1px solid #999;
  margin:4px 0 4px 4px;
}
.base-ad-list img {
  display: block;
  width:155px;
  height:50px;
}