/* Retset */
/*
 * TODO 命名规范
 * 功能性命名为驼峰式 @Example clearFix
 * 公用模块命名为下划线 @Example header_title
 * UI样式公用CLASS命名为中划线 @Example ui-border-box
 *
 *
 * */

.clearFix:after{content:'\0020';display:block;clear:both;height:0;font-size:0;}
.clearFix{zoom:1;}
.ellIpsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.inBlock{display:inline-block;vertical-align:middle;*display:inline;*zoom:1;}
.ie6lh{_font-family:\5b8b\4f53;_line-height:1.231;}
/*search resume*/
.ui-bg {
background: rgb(51,195,20); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(51,195,20,1) 0%, rgba(21,151,2,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,195,20,1)), color-stop(100%,rgba(21,151,2,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(51,195,20,1) 0%,rgba(21,151,2,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(51,195,20,1) 0%,rgba(21,151,2,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(51,195,20,1) 0%,rgba(21,151,2,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(51,195,20,1) 0%,rgba(21,151,2,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33c314', endColorstr='#159702',GradientType=0 ); /* IE6-9 */
}
/*字体颜色切换*/
.cur-color-gray { color:#999 !important; }
.cur-color-green { color:#018201 !important; }
.show-color { color:#018201; }
.show-color:hover,
.personal-operat a:hover,
.self-operat a:hover { background-color: #018201; color: #FFF !important; }
.company-hot { color:#0241C1 !important; font-size:14px; }
.company-hot:hover { background:#0241C1; color: #FFF !important; }
.search-resume { width: 815px;margin:0 auto; float: left;}
.search-resume-title {line-height: 34px;color:#fff;}
.search-resume-list li{float: left;line-height:34px;height: 34px;}
.item-jobtitle {width: 265px;}
.item-jobtitleName { width: 272px;}
.item-jobtitle h3 {font-size: 14px;}
.item-jobsite{width: 152px;}
.item-workexper{ width: 74px;}
.item-aptness{ width: 85px;}
.item-ompensation{width:108px;}
.item-published{width:96px;}
.search-resume-info {background-color: #EEF4E5;border-bottom: 1px solid #CCC;padding: 0 30px;height: 29px;line-height: 29px;}
.search-resume-info li {margin: 0 2px;float: left;color: #000;}
.search-resume-info a.green{
  color:#018201;
}
.search-resume-info a.gray {
  color:#A5A5A5;
}
.resume-error-tips {
border-bottom: 1px solid #CCC;
color: #000;
cursor: default;
line-height: 18px;
padding: 10px 0;
text-align: center;
}
.search-bottom-pick {
  padding: 8px 0 2px;
  color:#000;
}
.resume-info-list a { padding:0 6px;}
.search-resume-content {padding-top: 12px;color: #000;border-bottom:1px solid #E4E4E4;}
.resume-content-list li {float:left;overflow:hidden;height:22px;line-height:22px;}

.border {border-left: 1px dotted #999999;height: 29px;width: 1px; margin:0 8px;float:left;}
.opts input { margin: 0 4px 0 7px; _margin-right: 0px;vertical-align: middle; _vertical-align:-1px;}
.icon-little-jian {
  margin: 0 6px;
}
.company-wrap { overflow:hidden;padding-left: 30px;zoom:1;}
.company-info {padding-bottom:6px;}
.company-info i {
  color:#A5A5A5;
  padding:0 6px;
}
.company-detail {margin-bottom: 5px;line-height: 20px;}
.company-wrap .self-operat { background: #EEF4E5;padding-left: 30px;line-height: 31px;color: #018201;margin-left:-30px;visibility:hidden; font-family:tahoma; }
.company-wrap .self-operat a { padding: 0 3px;color: #018201; }

.hoverOn .self-operat span{
visibility:visible !important;
}
.self-operat span { display: inline-block; visibility:hidden;}
.search-resume-content dt {cursor:pointer;padding-bottom: 8px;}
/*aResume-management*/
.search-manage { width: 830px;margin:0 auto; float: left;}
.search-manage-title {line-height: 34px;color:#fff;}
.search-manage-list li{float: left;line-height:34px;height: 34px;}
.search-manage-info {background-color: #EEF4E5;border-bottom: 1px solid #CCC;padding: 0 22px;height: 29px;line-height: 29px;}
.search-manage-info li { margin: 0 4px;float: left;color: #000;}
.search-manage-content dl {padding-top: 10px;color: #000;border-bottom:1px solid #E4E4E4;}
.manage-content-list li {float:left;height: 24px;line-height:24px;}
.personal-wrap { overflow:hidden;padding-left:24px;}
.personal-info {padding: 4px 0 8px;}
.personal-info span { padding:0 5px;}
.personal-operat {background: #EEF4E5;height: 31px;padding-left: 30px;line-height: 31px;color: #018201;margin-left:-20px;}

.personal-operat span { display: inline-block; visibility:hidden;}

.personal-operat a { padding: 0 3px;}
.search-manage-content dt {cursor:pointer;}
.item-name{width:90px;}
.item-name h3 {font-size: 14px;}
.item-employ{width:91px;}
.item-office{width:108px;}
.item-field {
  width: 150px;
}
.item-school {
  width:133px;
}
.item-location {
  width: 116px;
}
.item-workexper{width:75px;}
.item-aptness{width:66px;}
.item-site{width:100px;}
.item-sex{width:50px;}
.item-age{width:50px;}
.item-wages{width:83px;}
.item-time{width:75px;}
.item-more{width:40px;}
.item-lih{position:relative;_top:6px;}
.ico{background: url("/images/v1/icon-phone.png") no-repeat;display: inline-block;*display:inline;*zoom:1;position: relative;vertical-align: middle}
.ico-tel { height: 18px; width: 22px;}
.avatar-link{float:left;margin-top:10px;}
.avatar-link img {display:block;}
.personal-info {float: left; margin-left:12px;}
.personal-info li {padding:2px 0;}
.personal-news { background-color: #F4F4F3;display: block;float: left; margin-bottom: 5px;padding: 5px 12px; width: 710px;z-index: 1;}
/*post-management*/
.post-manage { width: 830px;margin:0 auto; float: left;}
.post-manage-title {line-height: 34px;color:#fff;}
.post-manage-list li{float: left;line-height:34px;height: 34px;font-family:tahoma;}
.post-manage-list a {
  color:#9EF595 !important;
  text-decoration:underline !important;
}
.post-manage-list a:hover {
  color:#fff !important;
}
.post-manage-info {background-color: #EEF4E5;border-bottom: 1px solid #CCC;padding: 0 30px;height: 29px;line-height: 29px;}
.post-manage-info li { margin: 0 2px;float: left;color: #000;}
.post-manage-content {padding-top: 12px;color: #000;border-bottom:1px solid #E4E4E4;}
.line{ background: url("/images/v1/searchlist-titlebg.gif") no-repeat 0 -102px;display:inline-block;*display:inline;*zoom:1; font-size: 1px;height: 34px;margin-right: 6px; width: 2px;vertical-align:middle;}
.menu {float:left;width: 200px;height: 200px;}
.item-tag{width: 249px;}
.item-tagName {
  width:258px;
}
.item-tagName a {
  font-family:Tahoma !important;
}
.list-icon {
  background:url("/images/v1/icon-new.png") no-repeat;
  display:inline-block;
  vertical-align:middle;
  *display:inline;
  cursor:pointer;
  *zoom:1;

}
.list-icon-help {
  background-position: 0px -72px;
  width: 16px;
  height: 16px;
}
.list-icon-modify {
  height: 22px;
  width: 22px;
 background-position:-92px -96px;
}
.list-icon-stop {
  height: 22px;
  width: 22px;
 background-position:-145px -24px;
}
.list-icon-copy {
  height: 22px;
  width: 22px;
 background-position:-91px -24px;
}
.list-icon-top {
  height: 22px;
  width: 22px;
 background-position:-92px -72px;
}
.list-icon-update {
  height: 22px;
  width: 22px;
 background-position:-91px 0;
}
.list-icon-time {
  height: 22px;
  width: 22px;
 background-position:-67px -96px;
}
.list-icon-refur {
  background-position:-42px -96px;
  height:22px;
  width:22px;
}
.list-icon-green {
  width: 14px;
  height:14px;
  background-position: -15px -101px;
  text-indent:-999px;
}
.list-icon-gray {
  width: 14px;
  height: 14px;
  text-indent:-999px;
   background-position: 0 -101px;
}
.item-updateTime{width:100px;}
.item-expiredTime{width:100px;}
.item-show{width:114px;}
.item-match{width:90px;vertical-align:middle;}
.item-operat{width:176px;}
.search-resume-info span.green i {
 background-position:3px -100px;
}
.search-resume-info span.gray i {
 background-position:-13px -100px;
}
.icor-green {
  width:16px;
  height:16px;
  background-position:3px -100px;
}
.icor-gray {
  width:16px;
  height:16px;
  background-position:-13px -100px;
}



