.resume .u_tab{ left:235px;}
.resume .u-nav{ margin-bottom:15px;}
.resume .icon-round-must{ background:url(/images/v1/xing.gif) no-repeat 0px 0px; }
.resume .icon-down-c{background:url(/images/v1/xia.gif) no-repeat 0px 0px; }
.resume .icon-down-f{background:url(/images/v1/resume_tb.png?20121226_1) no-repeat 0px 0px; cursor:pointer;}
.resume .icon-up-a{ cursor:pointer;}
.resume .icon-add-a{background:url(/images/v1/resume_add.gif) no-repeat 0px 0px; }
.resume .icon-add-b{background:url(/images/v1/resume_tb.png?20121226_1) no-repeat -12px 0px; _position:static;}
.resume .icon-del-a{background:url(/images/v1/resume_tb.png?20121226_1) no-repeat -32px 0px; _position:static; }
.resume .icon-round-ok{background:url(/images/v1/resume_tb.png?20121226_1) no-repeat -98px 0px; position:relative; display:inline-block; padding:0!important; overflow:hidden; vertical-align:middle; font-size:0;  }
.resume .icon-round-stop{background:url(/images/v1/resume_tb.png?20121226_1) no-repeat -76px 0px; position:relative; display:inline-block; padding:0!important; overflow:hidden; vertical-align:middle; font-size:0;   }
.resume .icon-round-set{background:url(/images/v1/resume_tb.png?20121226_1) no-repeat -53px 0px; }
.re_tips{ padding:10px; margin:-5px 0px 20px 0px; background:#F4F4F3;border-radius:3px;font-family:Arial,SimSun,sans-serif; position:relative; z-index:2;  room:1; }/*注册成功*/
.re_tips a.icon { position:absolute; top:10px; right:10px;}
.re_tips p.cg{ margin:0px 0px 10px 0px; color:#000000; padding-left:0px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; font-size:16px; height:38px; padding-bottom:2px;}
.re_tips .cg i{ margin-right:8px; float:left; display:inline;}
.re_tips .cg span.sp1{ font-size:24px; float:left; line-height:36px;}
.re_tips .cg span.sp2{ float:left; padding-top:12px;}
.re_tips p{ padding-left:45px; color:#000000; padding-bottom:6px;}
.re_tips p i.icon-right-c{ float:left; margin:6px 5px 0px 0px; display:inline;}
.re_tips p span{ float:left; }
.re_type{margin: 0px auto -20px auto;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;position:relative; z-index:3;}
.re_type p{font-family:Arial,SimSun,sans-serif;}
.re_type i{float: left;}
.re_type_wz{ font-size:14px;font-weight:bold;line-height:32px;padding:0px 16px 0px 15px;float:left;color:#000;}
.re_type_wz1{ font-size:14px;font-weight:bold;line-height:32px;padding:0px 16px 0px 0px;float:left;color:#000;}
.re_type input{margin:0px 2px;padding:0px;vertical-align: middle; outline:none;}
.re_type_sf{ position:absolute; right:12px; top:40px; color:#FFFFFF;}
.re_type_sf .re_fb14{ color:#FFFFFF;}
.re_type_sf .re_shenfen i{ cursor:pointer;}
.re_type_sf i{float:none;}
.re_type_xing{ margin-left:648px; margin-top:5px; margin-bottom:6px; position:relative; z-index:2;}
.re_type_xing i{ margin:4px 2px 0px 0px; float:left;}
.re_fb14{font-size:14px;color:#000; font-weight:bold;}
.re_fb14_green{font-size:14px;color:#9ef595; font-weight:bold;}
.pt_25{ padding-top:25px;}
.re_content{margin:0px auto 40px auto;font-family:Arial,SimSun,sans-serif;}
.re_conleft{ width:731px;float:left;}
.re_conright{ width:254px;float:right; /*overflow:hidden;*/}
.re_leftbt{width:731px; height:42px;background:url(/images/v1/re_bg.png?20121226_1) no-repeat 0px 0px;}
.re_click1{ position:relative; width:731px; height:42px; cursor:pointer;}
.re_leftbtwz{ font-size:18px;font-weight:bold; color:#000; line-height:42px; padding-left:15px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; position:absolute; left:0px; top:0px;}
.re_leftbt div i{cursor:pointer; position:absolute; top:12px; right:15px;}
.re_erceng{padding: 5px 5px 12px 12px; position:absolute; border:1px solid #425817; background-color: #EEF4E5;z-index:1000;color:#000;box-shadow: 2px 2px 0px rgba(150,150,150,0.4); _filter: progid:DXImageTransform.Microsoft.DropShadow(color=#40969696,offX=2,offY=2,positives=true); line-height:18px; display:none;}
.re_leftnr div.re_erceng span { float:right;}
.re_type_sf div.re_erceng span i { float:right;}
.re_shenfen-showhide-content{ display:none;width: 320px;right:-20px;}
.re_leftnr{width:731px;background:url(/images/v1/re_con-bg.png?20121226_1) repeat-y;margin-bottom:6px; padding-top:0px;}
.re_bai{background:url(/images/v1/re_con-bgbai.png?20121226_1) repeat-y;}
.re_leftnrbo{ width:731px;height:11px;background:url(/images/v1/re_bg.png?20121226_1) no-repeat 0px -43px; font-size:0px; line-height:5px;}
.re_bobai{ background:url(/images/v1/re_bg.png?20121226_1) no-repeat 0px -254px;}
.re_information{width:706px; padding:18px 10px 0px 15px;position:relative; z-index:1;}
.re_photo{ position:absolute; top:50px;right:24px;margin:0px;padding:0px;}
.re_photo p{margin:0px 0px 5px 0px; color:#000000;}
.re_photo p input{ vertical-align:middle;}
.re_photo p.sm{ color:#a5a5a5; padding-left:3px;}
.re_photo p.photo{width:120px; height:120px;background:url(/images/v1/re_bg.png?20121226_1) no-repeat -270px -57px; padding:11px;}
.re_photo p.photo img{ width:118px;height:118px;border:1px solid #b5b5b5;}
.re_information li{float:left; width:705px;display:block; overflow:hidden; clear:both; padding-bottom:6px;}
.re_information li.spbo{ height:45px;}
*html .re_leftnr li{ position:relative;}
.re_leftnr li i,.re_leftnr li span{float: left;}
.re_leftnr li span.gray{ float:none;}
.re_leftnr li span i{ float:none; margin:0px; display:block;}
.re_leftnr li i{margin:8px 2px 0px 0px;display: inline;}
.re_leftnr li span.name{width:105px;padding-top:4px;font-size:14px;color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.re_leftnr li span.namea{width:105px;padding-top:0px;line-height:14px;font-size:14px;color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.re_leftnr li span.namewid{width:150px;padding-top:2px;line-height:14px;font-size:14px;color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.re_leftnr li span.namewidx{width:108px;padding-top:2px;line-height:14px;font-size:12px;color:#000;}
.re_leftnr li span.nameri{padding:6px 10px 0px 10px;line-height:14px;font-size:14px;color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.re_leftnr li span.namezj{ padding:6px 0px 0px 20px; line-height:14px; font-size:14px; color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.re_leftnr li span.text-hot{padding:6px 0px 0px 6px;}
.re_leftnr li span.peo{padding:6px 9px 0px 0px;color:#000;}
.re_leftnr li span.peogir{padding:6px 0px 0px 0px;color:#000;}
.re_leftnr li span.sex{padding:6px 0px 0px 0px; *padding-top:3px;}
.re_leftnr li span.birth select,.re_leftnr li span.onboard select{width:62px;}
.re_leftnr .re_information li span.birth select,.re_leftnr .re_information li span.onboard select{ width:70px;}
.re_leftnr .re_targetjob li span.onboard select{ width:75px;}
.re_leftnr li span.address1 select,.re_leftnr li span.major1 select{width:100px;}
.re_leftnr li span.address2 select{ width:120px;}
.re_leftnr li span.address3 select{width:190px;}
.re_leftnr li span.major2 select{ width:180px;}
.re_leftnr li span.address2,.re_leftnr li span.address3,.re_leftnr li span.major2{ padding-left:5px;}
.re_leftnr li span.little{ padding-right:5px;}
.re_leftnr li span.little select,.re_leftnr li span.time select{width:65px;}
.re_leftnr li .littxt .ipt input{width:65px;}
.re_leftnr li .morelittxt .ipt input{width:45px;}
.re_leftnr li .midtxt .ipt input{width:150px;}
.re_leftnr li span.birtha{padding:6px 5px 0px 5px;color:#000;}
.re_leftnr li span.birthri{padding:6px 0px 0px 5px;color:#000;}
.re_leftnr li div.text-hot{padding:0px 0px 0px 116px;line-height:14px;}
.re_leftnr .re_information li div.text-hot{padding:6px 0px 0px 116px;line-height:14px;}
*html .re_leftnr li span.sex{padding:3px 0px 0px 0px;}
.re_leftnr li span.live,.re_leftnr li span.live1{padding:0px 5px 0px 0px;}
.re_leftnr li span.live2{ padding:0px;}
.re_leftnr li span.live select,.re_leftnr li span.live1 select{width:100px;}
.re_leftnr li span.live2 select{width:150px;}
.re_leftnr li span.xueli select,.re_leftnr li span.qiuzhi select,.re_leftnr li span.xingz select{width:205px;}
.re_leftnr li span.text-sm{padding:6px 0px 0px 9px;}
.re_leftnr li.spa{width:695px;height:22px;background:url(/images/v1/re_line.png?20121226_1) repeat-x;}
.re_leftnr .re_information li.spa{width:695px;height:10px;background:url(/images/v1/re_line.png) repeat-x; margin-top:10px;}
.re_leftnr .ipt input{width:202px;font-family:Arial,SimSun,sans-serif;}
.re_leftnr label.re_bigtxt .ipt input{width:285px;}
.re_icon-kong{background:none;width:9px;height:10px;}
.re_more{padding:0px 0px 16px 11px; position:relative;}


/*自我评价*/
.re_selfassessment{width:706px; padding:18px 10px 0px 15px; position:relative; z-index:2;}
.re_selfassessment li{ padding:0px 0px 0px 0px;}
.re_selfassessment li.sp{ padding:0px 0px 8px 0px;}
.re_selfassessment li span.namea{line-height:18px;}
.textarea_tex .ipt{width:560px;height:102px;margin:10px 0px 10px 116px; padding:4px;}
.textarea_tex .ipt textarea{width:560px; height:102px; color:#000; border:0;margin:0px;resize:none;}
.re_leftnr li span.zxz{ float:right; margin-right:20px; display:inline;}
.re_leftnr li span.zxz span,.re_leftnr li span.otherzxz span{ float:none; padding:0px;}
.re_leftnr li span.otherzxz{float:right; margin-right:20px; display:inline; padding-top:6px; line-height:14px;}

/*职业概况/求职意向*/
.re_targetjob { width:706px; padding:18px 10px 0px 15px; }
.re_targetjob li { float:left; width:705px; height:34px; }
.re_targetjob li.sp1{ height:40px; }
.re_targetjob li.sp2{ min-height:34px; height:auto; padding-bottom:12px; }
.re_leftnr .re_midtxt .ipt input{ width:255px; }
.re_targetsm{ padding-top:6px; line-height:15px; }
.re_le116{ padding:3px 0px 3px 116px; line-height:14px;color:#000; }
.re_le114{ padding:3px 0px 3px 114px; line-height:14px;color:#000; }
.re_leftnr .re_bigtxt1 .ipt input{ width:510px;}

/*工作经验 教育背景 语言能力*/
.re_work,.re_education,.re_lang,.re_skill,.re_peixun,.re_paste{width:706px; padding:18px 10px 0px 15px; position:relative;z-index:1;}
.re_lang,.re_education{ margin-bottom:0px; padding-top:18px;}
.re_work1{width:706px; padding:16px 10px 0px 15px; position:relative; z-index:2;}
.re_work1 .re_work1{ padding-left:0px; padding-right:0px;}
.re_work1 .workmore{ margin-left:0px;}
.re_work2{width:706px; padding:0px 10px 14px 15px;position:relative;}
.re_work li,.re_work1 li,.re_work2 li,.re_education li,.re_lang li{float:left; width:705px; height:34px;}
.re_education li .otherbt{ padding-left:5px;}
.re_leftnr .otherbt .ipt input{ width:130px;}
.re_ymore span.a-green{ padding:6px 0px 0px 5px;}
.re_leftnr li .re_ymore i{ margin-top:12px;}
.re_work li.sp,.re_work1 li.sp,.re_work2 li.sp,.re_education li.sp{min-height:15px; height:auto;}
*html .re_work li.sp,*html .re_work1 li.sp,*html .re_work2 li.sp,*html .re_education li.sp{ padding-bottom:10px;}
.re_mt14{ margin-top:14px;}
.re_delete{ position:absolute; right:15px; z-index:99;}
.re_work1 .re_delete,.re_work2 .re_delete{margin-top:20px;}
.re_work1 .re_more,.re_work2 .re_more{ padding-top:2px; padding-bottom:0px; padding-left:0px; margin-top:15px;}
.re_education li.spa,.re_lang li.spa{margin-top:14px; height:2px;}
.re_edumore{ padding:10px 0 16px 15px; vertical-align:middle; position:relative;}
.re_lang li.sp{min-height:34px; height:auto;}
*html .re_lang li.sp{height:34px;}
.re_work1 .re_more i.icon-add-a,.re_work2 .re_more i.icon-add-a,.re_edumore i.icon-add-a{ height:15px;}
.re_lang li i.icon-add-b,.re_skill li i.icon-add-b{ margin:6px 5px 0px 10px; cursor:pointer;}
.re_lang li i.icon-del-a,.re_skill li i.icon-del-a{ margin:6px 0px 0px 5px; cursor:pointer;}
.re_leftnr .re_work2 li.spa{ height:13px;}
.workmore{ padding:0px 0px 16px 0px;background:url(/images/v1/re_line.png?20121226_1) repeat-x bottom; margin:0px 20px 0px 15px; position:relative;}
.edumore{ padding:0px 0px 10px 0px;margin:0px 20px 0px 10px; position:relative;}
.re_leftnr li .pmselect span.nameri{ padding-left:30px; padding-right:15px;}
.jymore{ float:left; width:588px;}
.jymore .textarea_tex .ipt{ margin-left:0px;}
.re_education li.jymoreli{ *margin-top:10px;_margin-top:0px;}
.re_leftnr li .jymore span.text-hot{ padding-top:0px; padding-left:0px; margin-top:-5px;}
.iept10{ *margin-top:10px;_margin-top:0px;}
.iept10self{*margin-top:10px;}

/*职业技能与特长*/
.re_skill li{ float:left; width:705px; padding-bottom:6px;}
.re_skill li.spa{ margin-top:18px; height:18px;}
.re_skill li.sp{ padding-bottom:0px;}
.re_leftnr .re_skill li div.text-hot{ padding:3px 0px 0px 116px;}
.re_leftnr li .other span.text-hot{ padding:0px 0px 0px 116px;}
.re_pt6{ padding-top:6px;}
.re_skill li img.resume_add,.re_lang li img.resume_add{float:left; margin:6px 5px 0px 10px; cursor:pointer; display:inline;}
.re_skill li img.resume_del,.re_lang li img.resume_del{float:left; margin:6px 0px 0px 5px; cursor:pointer; display:inline;}
.re_leftnr .re_skill li span.birth select{ width:70px;}
/*上传简历*/
div.frame{ padding:0px; margin:0px; height:32px;}
div.frame span.name{ color:#000000; font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; width:105px; padding-top:4px;}
div.frame i,div.frame span{ float:left;}
div.frame i.icon-round-must{background:url(/images/v1/xing.gif) no-repeat 0px 0px;}
div.frame i{ margin:8px 2px 0px 0px; display:inline;}
div.frame span.upkj{ padding-top:2px; margin-right:6px; display:inline;}
div.frame span.text-hot{ padding:4px 0px 0px 6px;}
div.frame div.text-hot{ padding:4px 0px 0px 11px; clear:both;}
.form-uploadc{ padding:0px 11px 5px 11px;}
.form-uploadc li{ float:left; padding-right:30px;}
/*粘贴简历*/
.re_paste li{ padding:0px 0px 2px 0px;}
.re_paste li i{ margin-top:3px; display:inline;}
.re_paste li.sp{ padding-bottom:16px;}
.re_leftnr li.clear span.name{ padding-top:0px;}
.re_paste .textarea_tex .ipt{width:560px;height:192px;margin:0px 0px 3px 116px;padding:4px;}
.re_leftnr .re_paste li .other span.text-hot{ padding-top:5px; padding-bottom:5px;}
.re_leftnr .re_paste li span.zxz{padding-top:5px; padding-bottom:5px;}
.re_paste .textarea_tex .ipt textarea{width:560px; height:190px; color:#000000; border:0;margin:0px; padding:0px;}
.upload .ipt{ margin-right:10px;}
.re_skill li.upload{ padding-bottom:0px;}

.re_ok{ margin:0px; padding:5px 4px 0px 3px;}
.re_ok .btn-orange-b{ margin-right:8px;}
.re_ok i.ttop{ width:33px; height:32px;background:url(/images/v1/re_bg.png?20121226_1) no-repeat 0px -100px; float:right; cursor:pointer;}
.re_ok i.ttop a{ display:block; width:33px; height:32px;}

/*右侧内容右侧内容*/
.re_top1{ width:254px; height:12px; background:url(/images/v1/re_bg.png?20121226_1) no-repeat 0px -62px; font-size:0px;}
.re_top2{ width:224px; padding:0px 15px 10px 15px;background:url(/images/v1/re_ytopbg.png?20121226_1) repeat-y; color:#000; position:relative; z-index:2;}
.re_top2 .ipt input{ width:145px;}
.re_top2 p{ padding:4px 0px;}
.re_top2 .a-green{ padding-left:8px;}
.re_ysm{ width:224px; padding:5px 15px;background:url(/images/v1/re_bg.png?20121226_1) no-repeat -473px -72px; height:22px;}
.re_ysm i.icon-round-ok,.re_ysm i.icon-round-stop{ margin-left:10px;}
.re_ynr{ width:224px; padding:5px 15px;background:url(/images/v1/re_ybg.png?20121226_1) repeat-y;}
.re_ynr li{ padding:2px 15px 2px 0px;}
.re_ynr li span{ float:right;}
.re_ynr li i.icon-round-stop{background:url(/images/v1/resume_tb.png?20121226_1) no-repeat -76px 0px;}
.re_ydi{ width:240px; height:44px;background:url(/images/v1/re_bg.png?20121226_1) no-repeat -474px -115px; padding:16px 0px 0px 14px;}


/*范例*/
div.re_erceng span i{ float:right; cursor:pointer;}
.re_pjfanlicon{ width:500px; left:-380px;}
.re_erceng p{ padding:4px 0px;}
.re_zymbfanlicon{ width:500px; left:-380px;}
.re_rela{ position:relative;}
.re_jybjfanlicon{ width:500px; left:-100px;}
.re_aboutfanlicon,.re_gzmsfanlicon,.re_skillfanlicon,.re_pxjlfanlicon{ width:500px; left:0px;}
.re_xmglfanlicon{ width:500px; left:-200px;}

/*修改简历*/
.icon-tips-lb{ background-position:-119px -441px; width:16px; height:15px;}
.re_nok{ float:left; width:677px;padding:8px 5px 8px 40px; _padding-top:8px; margin-left:4px; vertical-align:baseline;font-family:Arial,SimSun,sans-serif; border:1px solid #F9922B; color:#656565;background:#FFF7C6 url(/images/v1/laba.jpg) no-repeat 8px 4px;}
.re_nok span { white-space:nowrap; word-wrap:break-wrod; word-break:break-all; height:18px; padding-right:3px; }
.re_nok span a:link,.re_nok span a:visited,.re_nok span a:active{ color:#018201; cursor:pointer; padding:1px 2px;text-decoration:none;}
.re_nok span a:hover{ background:#018201; color:#FFFFFF; text-decoration:none;}
.re_nok i { float:none; }
.icon-resume-warn{ width:30px; height:30px; background-position:-389px -160px;}
.icon-round-stopx{ width:13px; height:12px; background-position:-220px -166px;}
.re_edityl{padding:18px 10px 15px 15px; width:706px; position:relative; z-index:1;}
.re_pdb0{ padding-bottom:0px;}
.re_edityl li{ font-size:14px; padding:2px; color:#000000; line-height:18px;word-wrap: break-word;word-break: normal;word-break:break-all; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.re_edityl li.line{height:2px;background:url(/images/v1/re_line.png?20121226_1) bottom repeat-x; margin-top:20px; font-size:0px; padding:0px; line-height:0px;}
.personainfo .re_edityl li.line{ margin-top:14px; margin-bottom:12px; width:695px;}
.re_edityl li.w600{ width:600px;}
.re_kongadd{ padding:18px 15px 15px 15px; width:701px; text-align:left;}
.re_pr15{ padding-right:15px;}


.re_btn button,.re_btn a { position:relative; border:0; white-space:nowrap; margin:0; padding:0; overflow:hidden; display:inline-block; vertical-align:middle; background:url(/images/v1/re_bg.png?20121226_1) no-repeat -147px -94px; text-align:center; color:#333!important; text-decoration:none!important; cursor:pointer; outline:0; width:55px; height:22px; line-height:22px; font-size:12px;box-shadow:0 1px 0 #ccc; border-radius:3px; text-shadow:1px -1px 0 #fff;}
.re_btn button,.re_btn a:hover{background-position:-203px -94px;box-shadow:0 0 2px #000; }
.re_btn-hover button,.re_btn-hover a{background-position:-203px -94px;box-shadow:0 0 2px #000; }
.re_dz{ width:450px;}/*定制简历弹出层*/
.re_dz .popup-con input{ *margin-right:0px;}
.re_dz li{ float:left; width:48%; padding:3px 0px;}
.re_ml30{ margin-left:30px;}
.re_over{ width:420px;}
  .re_over .popup-btn{ padding:10px 10px 20px 10px;}
  .re_over .popup-btn p{ margin:10px 0px 0px 0px; text-align:left;}
  .re_over .popup-btn p.title{ padding-left:2px;}
  .re_overcon{ margin:10px 0px 0px 0px; padding:0px;}
  *html .re_overcon{ margin:5px 0px 0px 0px; padding:0px;}
  *html .re_over .popup-btn p.js-resume-finish-title{ padding-top:10px;}
  .re_overcon a{ float:left; margin-right:20px; display:inline; white-space:nowrap;}

.js-resume-item-hidden{display:none;}
.js-resume-error{}
.js-resume-error-off{display:none;}
.js-resume-uc-hidden{display:none;}
iframe {
    margin: 0;
    padding: 0;
	border:0;
	width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}
.iemb10{*padding-bottom:10px;}
#jquery-extend-mask-inner{ background:rgba(255,255,255,0) !important;}
.jquery-alert-btn,.jquery-alert-btn2 {border-top:1px solid #DDD;  padding:10px 0; display:block; text-align:right; width:100%;}
.jquery-alert-btn span,.jquery-alert-btn2 span {margin-right: 10px;}

.xy_tou{ width:985px; margin:0px auto 15px auto;}
.xy_logo{ width:985px; height:30px; background-color:#169802;}
.xy_logo a {text-indent:-9999em; display:block; overflow:hidden;width:105px; height:30px;background:url("/images/v1/preview-icon.png?20121226_1") no-repeat; margin-left:15px; outline:none;}
.campus_top{ background-color:#f7f7f7; border-bottom:1px solid #8F9F70; height:70px;}
.campus_logo{ float:left;}
.campus_logo img{ margin:8px 0px 0px 15px;}
.campus_ltitle{ float:left; padding:30px 0px 0px 30px; color:#000000; width:780px;}
.ToTop {width:51px; height:51px; cursor:pointer; margin-top:15px; background:url("/images/v1/previews-bg.png?20121226_1") no-repeat -296px -100px; text-indent:-9999em; position:absolute; right:20px; display:block;} /*回顶部*/
.re_nofinish{ position:absolute; left:-290px; top:-10px;}
  .re_nofinishle{ float:left; background:#FFF7C6; border:1px solid #635935; width:270px; padding:10px;position:relative;}
  span i.icon-right-sj{ position:absolute; right:-11px; top:38px;}
  .re_nofinishle p{ margin:0px; padding:0px;}
  .re_nofinishle p i.icon-round-del{ float:right;}
  .re_nowctitle{ margin:0px 10px 10px 10px; border-bottom:1px dotted #555555; padding:0px 0px 6px 2px; color:#555555;}
  .re_nowctitle1{ color:#555555;margin:0px 10px 5px 10px; padding:0px 0px 0px 2px; }
  .re_nowccon{ margin:0px 10px 10px 2px; padding:0px;}
  .re_nowccon a{ float:left; margin-right:20px; display:inline; white-space:nowrap;}
  .re_nowcbtn span{ float:right;}

/*英文简历*/
.en .re_leftnr li span.name{ font-size:12px;}
 .en .re_leftnr label.en span.name{ padding-top:0px; line-height:14px;}
 .en .re_leftnr li span.text-hot{ font-size:11px;}
 .en .re_leftnr li.enzs span.text-hot{ font-size:11px; padding:0px 0px 0px 5px; line-height:14px;}
 .en .re_ynr li i,.en .re_ynr li a{ float:left;}
 .en .re_ynr li i{ margin-top:6px;}
 .en .re_ynr li i.icon-round-ok,.en .re_ynr li i.icon-round-stop{ margin-top:0px;}
 .en .re_ynr li i.icon-round-set{ margin-top:2px;}
 .en .re_ynr li i.icon-down-b{ margin-top:10px;}
 .en .re_leftnr li span.xueli select{ width:165px;}
 .en .re_leftnr li span.live2 select{ width:185px;}
 .en .re_leftnr li span.qiuzhi select{ width:270px;}
 .en .re_leftnr li span.namea{ font-size:12px;}
 .en .re_information li.en span.name{ padding-top:0px;line-height: 14px;}
 .en .re_leftnr .re_targetjob li.en span.name, .en .re_leftnr .re_targetjob li.en1 span.name{ padding-top:0px; line-height:14px;}
 .en .re_targetjob li.en1 span.name{ padding-top:0px; font-size:11px;}
 .en .re_leftnr li span.little select{ width:120px;}
 .en .re_leftnr li span.onboard select{ width:160px;}
 .en .re_leftnr .re_work li.en span.name,.en .re_leftnr .re_work1 li.en span.name,.en .re_leftnr .re_education li.en span.name,.en .re_leftnr .re_lang li.en span.name,.en .re_leftnr li div.text-hot,.en .re_leftnr li span.text-sm{ font-size:11px;}
 .en .re_leftnr .re_work li.en span.name,.en .re_leftnr .re_work1 li.en span.name{ line-height:14px;}
 .en .re_leftnr li span.xingz select{ width:370px;}
 .en .re_leftnr li span.nameri{ font-size:12px;}
 .en .re_leftnr li span.nameen{ width:160px; padding-top:6px;}
 .en .re_leftnr li span.namezj{ padding:6px 5px 0px 10px; font-size:12px;}
 .en .re_leftnr li span.leen select{ width:110px;}
 .en .re_leftnr li span.namewid{ width:200px; font-size:12px;}
 .en .re_leftnr .re_education li.ene span.name{ padding-top:0px; line-height:14px;}
 .en .re_skill li.upload span.name{ padding-top:0px; line-height:14px;}
 .en .re_ysm{ font-size:11px;}
 .en .re_ysm i.icon-round-ok,.en .re_ysm i.icon-round-stop{ margin-left:3px;}
 .en .re_ydi .btn-orange-b button,.en .re_ydi .btn-green-b a,.en re_ok .btn-orange-b button,.en .re_ok .btn-green-b a{ font-size:14px;}
 .en .re_ynr{ padding:5px 5px 5px 15px; width:234px;}
 .en .re_ynr li{ padding-right:7px;}
 .en .re_photo p{ margin-bottom:0px; font-size:11px;}
 .en .re_leftnr li span.birtha{ padding:6px 5px 0px 0px;}
 .en .re_leftnr li.en1 span.birtha,.en .re_leftnr li.en span.birtha{ padding:6px 5px 0px 5px;}
 .en div.frame span.name{ font-size:12px; width:130px;}
 .en div.en span.name{width:130px;}
 .en .re_leftnr li span.major1 select{ width:130px;}
 .en .re_leftnr li span.major2 select{ width:270px;}
 .en .re_dz{ width:500px;}
