/* CSS Document */
.www .u-nav{ height:35px; overflow:hidden;}
.www .u-nav .cont{ height:35px; overflow:hidden;}
.nologin .u-nav{ height:18px; overflow:hidden;}
.nologin .u-nav .cont{ height:18px; overflow:hidden;}
.relative{ position:relative;}
.list .user_title{ margin:0px 20px;}
.user_relist{ width:990px; margin:18px auto 40px; min-height:400px;_height:400px;cursor:auto;}
.user_relistli{ width:950px; margin:18px auto 40px; min-height:400px;_height:400px;cursor:auto;}
.user_list{width:850px; margin:18px auto 40px; min-height:300px;_height:300px;}
.user_job{ width:990px; margin:18px auto 40px; min-height:400px;_height:400px;}
*html .user_relist{ height:400px;}
.user-list {width:100%; border:0 none; color:#000; margin:10px 0 18px 0px;}
.user-list th {font-size:12px; background-color:#f6f9f2;line-height:34px;background:url(/images/v1/user_lisbg.png?20121226_1) repeat-x; color:#FFFFFF; padding:0px; font-weight:normal;}
.user-list th span{ float:left; line-height:34px;}
.pl-8{ padding-left:8px;}
.user-list .pl-8{ padding-left:8px;}
.user-list .zheng i{ float:left; margin-right:1px; display:inline;}
.user-list .zheng span{ float:left; margin-right:6px; display:inline;}
*html .user-list .zheng span{ margin-top:2px;}
/*.user-list th i {background:url(/images/v1/searchlist-titlebg.gif) no-repeat 0 -102px; width:2px; height:34px; float:left; margin-right:6px; display:inline; font-size:1px; _margin-right:2px;}*/
.user-list td {padding: 10px 0px; line-height:18px; border-bottom:1px solid #e4e4e4;}
.user-list td span.a-green{ display:inline-block;}
.user-list td span.a-green a{display:inline-block;}
.user-list td.tb i{ margin:0px 2px;}
.user-list td.tb i.u-icon-fj{ margin-top:2px; float:left;}
.user-list td.tb i.u-icon-mr{ margin-top:1px; float:left;}
.user-list td.tb1 i{ margin:0px 2px 0px 0px; cursor:pointer;}
.user-list td.tb1 div li i{ margin:0px;}
.user-list td.tb1 a:hover{ text-decoration:none;}
.user_hei{ color:#333333;}
.user_a5{ color:#a5a5a5;}
.user_fs14{ font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.center{ text-align:center;}
.user_pl30{ padding-left:30px;}
.user_pl6{ padding-left:6px;}
.user_pl15{ padding-left:15px;}
.user_pl20{ padding-left:20px;}
.user_pl34{ padding-left:34px;}
.user_pt3{ padding-top:3px;}
.user_pt5{ padding-top:5px;}
.user_pt6{ padding-top:6px;}
.user_pb8{ padding-bottom:8px;}
.user_pb20{ padding-bottom:20px;}
.user_pl390{ padding-left:390px; color:#a5a5a5;}
.user_w300 input{ width:300px;}
.user_pl10{ padding-left:10px;}
.user_pl11{ padding-left:11px;}
.user_pr5{ padding-right:5px;}
.user_mrz5{ margin-left:5px;}
.user_mrtb10{ margin:10px 0px;}
.user_mrt15{ margin-top:15px;}
.user_mrb8{ margin-bottom:8px;}
.user_mrb10{ margin-bottom:10px;}
.user_mb20{ margin-bottom:20px;}
.user_mt20{ margin-top:20px;}
.user_mb30{ margin-bottom:30px;}
.user_mz50{ margin-left:50px;}
.user_hg18{ height:18px;}
.user_pl95{ padding-left:95px;}
.user_pl111{ padding-left:111px;}
.user_pl146{ padding-left:152px;}
.user_pl106{ padding-left:106px;}
.user_pl151{ padding-left:151px;}
.w400 {width:400px;}
.w450 {width:450px;}
.u-icon-fj{ width:7px; height:14px; background-position:0px 0px;}
.u-icon-mr{ width:16px; height:16px; background-position:-12px 0px;}
.u-icon-lock{ width:22px; height:22px; background-position:-0px -116px;}
.u-icon-unlock{ width:22px; height:22px; background-position:-27px -116px;}
.u-icon-fdj{ width:22px; height:22px; background-position:-54px -116px;}
.u-icon-edit{ width:22px; height:22px; background-position:-81px -116px;}/*修改*/
.u-icon-edit2{ width:22px; height:22px; background-position:-244px -116px;}/*修改*/
.u-icon-del{ width:22px; height:22px; background-position:-216px -116px;}
.u-icon-copy{ width:22px; height:22px; background-position:-189px -116px;}/*复制*/
.u-icon-refresh{ width:22px; height:22px; background-position:-108px -116px;}/*刷新*/
.u-icon-email{ width:22px; height:22px; background-position:-135px -116px;}
.u-icon-kssq{ width:22px; height:22px; background-position:-162px -116px;}
.u-icon-more{ width:11px; height:18px; background-position:-212px 0px;}
.u-icon-over{ width:12px; height:9px; background-position:-239px 0px;}
.u-icon-unover{ width:12px; height:9px; background-position:-257px 0px;}
.u-icon-down{ width:14px; height:16px; background-position:-27px -24px;}
.u-icon-inforbt{ width:93px; height:49px;background:url(/images/v1/user_tb.png?20121226_1) no-repeat -52px -23px; font-size:16px; color:#FFFFFF; font-weight:700;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.u-icon-inforbt div{ padding-top:10px; padding-left:12px;}
.user_list-more{position:absolute;z-index:1000;color:#000;line-height:18px; display:none; width:80px; right:15px; text-align:left; padding:10px;mrgin-top:0px;}
*html .user_list-more{ margin-top:20px;}
*+html .user_list-more{ margin-top:20px;}
.user_list-more li{ padding:2px 0px;}
.u-list-sm{ margin:25px 5px 0px 5px; padding:10px; background-color:#F4F4F3;}
.u-list-sm h2{ font-size:14px; font-weight:bold; color:#000000; display:block; margin-bottom:5px;}
.u-list-sm li{ padding:2px 0px;}
.u-list-sm li i{ margin:0px 5px 0px 2px;}
.u-list-sm1{ width:680px; margin:80px 0px 0px 0px; padding:10px; background-color:#F4F4F3;}
.u-list-sm1 h2{ font-size:14px; font-weight:bold; color:#000000; display:block; margin-bottom:5px;}
.u-list-sm1 li{ padding:2px 0px;}
.u-kfsz{ width:500px;}/*开放设置*/
.u-kfsz p{ margin:0px 0px 10px 0px; padding:0px;}
.u-kfsz p input{ margin:0px 3px 0px 0px;*margin-right:0px; padding:0px; vertical-align:middle;}
.u-kfsz p .tagtxt input{ width:395px; margin-right:0px; padding-left:3px;}
*html .u-kfsz p input{ margin-top:-3px;}
.u-kfsz1 p.pl label span{ padding-right:15px;}
.user_sm{ color:#a5a5a5;}
.u-kfsz1{ margin-bottom:10px;}
.u-kfsz1 p{ margin:0px;}
.u-kfsz1 p.pl{ padding-left:15px; padding-top:5px;}

.u-fsjl{ width:550px;}/*发送简历*/
.u-fsjlnr{ padding-top:10px; color:#333333;}
.u-fsjlnr li{ padding-bottom:6px;}
.u-fsjlnr li i,.u-fsjlnr li span{ float:left;}
.u-fsjlnr li i{ margin:9px 2px 0px 0px;}
.u-fsjlnr li div i{ margin:0px 2px 0px 0px;}
.u-fsjlnr li span.name{ width:120px; padding-top:5px; font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.u-fsjlnr li div.textarea_tex{ float:left; width:360px;}
.u-fsjlnr li span.text-sm{ padding:5px 0px 0px 9px; color:#a5a5a5;}
.u-fsjlnr li span.text-hot{ padding:5px 0px 0px 9px;}
.u-fsjlnr .ipt input{ width:190px; padding-left:3px;font-family:Arial,SimSun,sans-serif; margin:0px; font-size:12px;}
.icon-round-kong{background:none;width:9px;height:10px;}
.sl190 select{ width:195px;}
.textarea_tex .ipt{width:320px;margin:0px 0px 6px 0px;padding:4px;}
.textarea_tex .ipt textarea{width:320px; height:100px; color:#333333; border:0;margin:0px; padding:0px;}
.u-fsjlnr li.sp{ padding-left:131px;}
.u-fsjlnr li span span.text-hot{ padding:0px; float:none;}
.u-fsjlnr li.popup-btn{ text-align:left; padding-bottom:20px;}
.u-fsjlnr li.popup-btn span{ float:none;}
.user_title{ font-size:18px; font-weight:bold; line-height:28px; margin:15px 0px; color:#000000; border-bottom:1px solid #b2b2b2; padding:0px 0px 2px 0px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_title span.ri{ float:right; padding-right:20px; font-size:14px;}
.user_title span.ri a{font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_titley{ font-size:18px; font-weight:bold; margin:5px 0px 15px 0px; padding:0px 0px 15px 0px; color:#000000; border-bottom:1px solid #b2b2b2;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.u-fsjlnr .wid .ipt input{ width:350px;}
.u-fsjlnr li span.user_pl390 span{ float:none; padding:0px;}
.textarea_bigtex .ipt{width:580px;margin:0px 0px 6px 0px;padding:4px;}
.textarea_bigtex .ipt textarea{width:580px;color:#333333; border:0;margin:0px; padding:0px; resize:none;}
.u_qzxfl,.u_qzxfla{width:580px;}
.u_erceng span{ float:right;}
.u_erceng span i{ margin:0px; cursor:pointer;}
.u_downloa{ width:180px; left:50px; top:25px; position:absolute;}
.u_downloa li{ padding:2px 0px; text-align:left; font-size:12px; font-weight:normal;}
.u_down .page{ float:right;}
.user_graybg{ padding:10px; background-color:#F4F4F3;}
.checkbox input{ margin:0px 3px 0px 0px; padding:0px; vertical-align:middle;}
.user_pbout{ padding:0px 8px; }
.user_pbout input{ vertical-align:middle; margin-right:5px;*margin-right:0px;}
.user_pbcompany{ padding:5px 0px 0px 0px;color:#333333;}
.user_pbcompany li{ float:left; width:33%; padding:2px 0px;font-family: Arial,Helvetica,sans-serif;}
.user_pbcompany li input,.company-info input{ vertical-align:middle; margin-right:3px;*margin-right:0px;}
.user_graybg .btn-green-b button{ font-size:14px;}
/*帐号信息基本信息*/
.user_information{padding:0px;}
.user_photo{ position:absolute; top:36px;right:24px;margin:0px;padding:0px;}
.user_photo p{margin:0px 0px 5px 0px; color:#333333;}
.user_photo p input{ vertical-align:middle;}
.user_photo p.sm{ color:#a5a5a5; padding-left:3px;}
.user_photo p.photo{width:120px; height:120px;background:url(/images/v1/re_bg.png?20121226_1) no-repeat -270px -57px; padding:11px;}
.user_photo p.photo img{ width:118px;height:118px;border:1px solid #b5b5b5;}
.user_information li{height:36px;}
.user_information li.spzk{ padding-left:151px; height:20px;}
.user_information li.spzk span{ float:none;}
.user_information li i,.user_information li span{float: left;}

.nologin .user_information li label.little span input,.nologin .user_information li label.middle span input {color:gray;}

.user_information li i.icon-round-must{margin:8px 2px 0px 0px;display: inline;}
.user_information li span.name{width:140px;font-size:14px;color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_information li span.name1{width:83px;padding-top:6px;line-height:14px;font-size:14px;color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_information li span.namenw{padding-top:6px;line-height:14px;font-size:14px;color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_information li span.nameie6{width:110px;line-height:28px; height:28px;font-size:14px;color:#000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; padding-left:11px;background:url(/images/v1/xing.gif) no-repeat 0px 8px;}
.user_information li span.text-hot{padding:6px 0px 0px 9px;}
.user_information li span.text-hot span{ float:none;}
.user_information li.spzk span.text-hot{padding:0px 0px 0px 0px;}
.user_information li span.text-sm{padding:6px 0px 0px 9px; color:#a5a5a5;}
.user_information li span.text-sm b{ float:left; color:#333333; font-weight:normal; margin-left:2px; vertical-align:baseline;}
*html .user_information li span.text-sm b{ padding-top:1px;}
.user_information li span.peo{padding:6px 9px 0px 0px;color:#000;}
*html .user_information li span.peo{ padding-top:4px;}
.peoie6 {_padding-top:7px;}
.user_information li span.peogir{padding:6px 0px 0px 0px;color:#000;}
*html .user_information li span.peogir{ padding-top:4px;}
.user_information li span.sex{padding:6px 0px 0px 0px;*padding-top:4px;}
*html .user_information li.ie6top span.sex{ padding-top:2px;}
.user_information li span.birth select{width:75px;}
.user_information li span.birtha{padding:6px 5px 0px 5px;color:#000;}
.user_information li span.birthri{padding:6px 0px 0px 5px;color:#000;}
.user_information li span.live select{width:100px;}
.user_information li span.live1 select{width:150px;}
.user_information li span.qiuzhi select{ width:205px;}
.user_information .ipt input{ width:202px;}
.user_information .little input{ width:40px;}
.user_information .middle input{ width:82px;}
.user_information .midtxt input{ width:255px;}
.user_information li .midtxt i{ float:none; display:block; margin:0px;}
.user_information .qy .ipt input{ width:285px;}
.user_information label.re_bigtxt .ipt input{width:285px;}
.user_editpho{ width:650px;_width:656px;_height:318px;}
.user_editphole{ float:left; width:300px;}
.user_editphori{ float:right; width:320px;}
.user_editphori .upload{ margin-top:130px;}
.user_editphori .wcupload .btn-clean-a button{ font-size:14px;}
.user_save{ margin:35px 0px 20px 151px;}
.user_save1{ margin:35px 0px 20px 131px;}
/*密码强度*/
div.pass-qr {margin-top:0px;}
div.pass-qr span{display:block; float:left; padding-left:0; width:65px; height:14px; line-height:14px; text-align:center; float:left; margin-right:2px;}
div.pass-qr span.gary {background-color:#ccc; color:#000;}
div.pass-qr span.red {background-color:#FD3102; color:#fff;}
div.pass-qr span.green {background-color:green;  color:#fff;}

.user_vip{ width:800px; height:600px;}
.user_vipcon{ height:490px; width:780px; line-height:1.8; overflow-y:auto;}
.user_vip .btn-orange-b button,.user_vip .btn-orange-b a{ font-size:14px;}

/*左侧菜单*/
.qmenu ul.sub-menus li span{ display:block; padding-left:3px; width:97px;}
.menu .qmenu ul.sub-menus li span.active{ width:99px;}
.qmenu ul.sub-menus li i{ margin-right:1px;}
.menu{ width:142px; float:left;}

.user_jobri{ float:right; width:830px;}
.user_mczw{ padding:5px 0px 15px 0px; margin-bottom:15px; border-bottom:1px solid #e4e4e4;color:#333333;}
.search-list-box table.sli-box .user_b td{ border-bottom:1px solid #e4e4e4;}
.user_sq{ width:65px; left:0px; position:absolute; top:34px;*top:0px;}
.search-list-box table.sli-box tr.h34 .user_sq a:link,.search-list-box table.sli-box tr.h34 .user_sq a:visited{ color:#018201;}
.search-list-box table.sli-box tr.h34 .user_sq a:hover,.search-list-box table.sli-box tr.h34 .user_sq a:active{ color:#ffffff;}
.search-list-box table.sli-box tr.h34 span.js-showhide-type-div{ cursor:pointer;}
.bq{ width:108px;}
.search-list-box .sli-box .text-ind td .bq span{ padding-left:0px; padding-right:5px; white-space:nowrap;word-break: break-all; word-wrap: break-word; float:left; height:18px;}
.search-list-box .sli-box .text-ind td .bq span.colon{ color:#018201; padding-right:0px;}
.user_findcode{ margin-top:40px;}
.user_findcode i{ float:left; margin-right:15px; display:inline;}
.user_findnr{ float:left; width:890px; color:#333333;}
.user_findnr1{  line-height:30px; font-size:24px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; margin-bottom:20px; padding-bottom:4px; padding-top:3px;}
.user_findnr1 .a-green a{font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_findnr1 h2.block{ display:block; font-size:14px; font-weight:bold; margin:0px 0px 20px 0px;}
.user_findnr p{ padding:0px 0px 6px 0px;}
.user_findnr p i.icon-right-c{ float:left; margin:6px 5px 0px 0px; display:inline;}
.user_findnr p span{ float:left;}
.tag_box td{border-bottom:1px solid #cccccc; padding:5px 0px; line-height:26px;}
/*个人登录页面*/
.nologin .login form p{ padding-left:24px;}
.nologin .login label{ float:left; padding:5px 0px 0px 0px; width:40px;}
.yzm .ipt input{ width:40px;}
.nologin .login form p span{ float:left;}
.yzm span{ margin-right:5px; display:inline; white-space:nowrap;}
.yzm span.text-hot{ padding-left:48px;}
.yzm span.text-hot{ padding-top:2px;}
.yzm span img{ height:28px;}
.nologin .login form p.pwsave{ padding-left:60px;}
.nologin .login form p.pwsave span{ float:left;}
.nologin .login form p.pwsave span.text-cont{ padding-right:5px;}
.nologin .login form p.btns{ padding-left:62px; text-align:left;}
.nologin .login form p.btns span{ float:none;}
.user_logz{ font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_logz a:link,.user_logz a:visited{font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_logz div i.icon{ float:left; margin-right:15px; margin-top:8px;}
.user_logz div.le{ float:left;}
.com_log{ width:300px; float:left; margin:50px 80px 50px 100px; _display:inline;}
.nologin .com_log .login form p{ padding-left:35px;}
.nologin .com_log .login form p.pwsave{ padding-left:70px;}
.nologin .com_log .login form p.btns{ padding-left:73px; padding-bottom:30px;}
.nologin .com_log .login form p.emai span.text-hot,.nologin .com_log .login form p.pass span.text-hot{ padding-left:48px; padding-top:3px; margin-bottom:-3px;}
.com_regy{ padding:120px 0px 0px 80px; width:290px; height:300px; border-left:1px solid #CCCCCC; float:left;}
.icon-login-jltd{ width:57px; height:59px; background-position:-246px -204px;}
.icon-login-qzdt{ width:57px; height:59px; background-position:-303px -204px;}
.icon-login-jlgl{ width:57px; height:59px; background-position:-189px -204px;}
.icon-login-sgz{ width:57px; height:59px; background-position:-361px -204px;}
.icon-login-fbzw{ width:57px; height:59px; background-position:-189px -268px;}
.icon-login-zwzd{ width:57px; height:59px; background-position:-246px -268px;}
.icon-login-xxqf{ width:57px; height:59px; background-position:-303px -268px;}
.icon-login-qyld{ width:57px; height:59px; background-position:-361px -268px;}
.icon-login-lock{ width:41px; height:49px; background-position:-368px -329px;}
.recruitment-div .text-h3{ display:block; float:left; line-height:20px; color:#333; font-size:14px; font-weight:bold;}
.record-list .titles1{ padding:18px 0px 13px 0px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
/*第三方登陆*/
.nologin .threer .login form p{padding-left:44px;}
.nologin .threer .login form p.pwsave{padding-left:80px;padding-top:0px;}
.nologin .threer .login form p.btns{padding-left:82px;}

/*未登录投递简历*/
.user_appno li{ margin:0px; padding-bottom:6px; display:block;}
.user_appno li span{ float:left;}
.user_appno li i{ float:left; margin:8px 2px 0px 0px;}
.user_appno li .name2{ float:left; width:100px; font-size:12px; color:#333333; padding-top:4px;}
.user_appno li div.text-hot{ padding:2px 0px 0px 111px; clear:both;}
.user_appno li.yzm span.text-hot{ padding:5px 0px 0px 0px;}
.user_appno li.sc i{ margin-top:6px;}
.user_appno li.sc .name2{ padding-top:2px;}
.user_appno p i.icon-right-lv,.user_ylogin p.y i.icon-right-lv,.user_le2 p.y i.icon-right-lv{ float:left; margin:6px 3px 0px 0px; display:inline;}
*html .user_appno p i.icon-right-lv,.user_ylogin p.y i.icon-right-lv,.user_le2 p.y i.icon-right-lv{margin:4px 3px 0px 0px;}
.user_appno p span,.user_ylogin p.y span,.user_le2 p.y span{ float:left; color:#333333;}
.user_deltit {color: #000000;font-size: 24px;font-weight: 700;line-height: 28px; padding:12px 0px 10px 0px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_resumemove{ padding-left:52px;}
  .movejl{ color:#333333; margin-bottom:10px;}
.user_deltit span.little{ font-size:16px; font-weight:normal;}
.user_delist{ padding:0px 0px 20px 34px; color:#333333;}
.user_delist li{ float:left; line-height:28px; padding-right:6px;}
.user_delist li input{ vertical-align:middle;}
.user_delist li.name{ width:230px;}
.user_delist li.conname{ width:250px;}
.user_delist li.addrs{ width:300px;}
.user_delist li.address{ width:330px;}
.user_delist li.address span.text-hot{ float:right;}
.user_deline{ height:10px; border-top:1px solid #CCCCCC; margin:10px 0px;}
p.yhu{ width:280px; border-top:1px solid #cccccc; padding-top:15px; color:#333333; padding-left:5px;}
.iconde{ display:block; background:url(/images/v1/user_wenzi.png?20121226_1) no-repeat;}
.iconde-hasresume{ width:261px; height:17px; background-position:0px 0px;}
.iconde-signin{ width:172px; height:19px; background-position:0px -30px;}
.iconde-signup{ width:227px; height:19px; background-position:0px -61px; margin-left:23px; display: inline-block;}
.user_deupload{ float:left; width:530px; padding-left:20px; color:#333333;}
.user_deupload ul li span.name{ float:left; width:80px;}
.user_deupload p.iconde{ margin-bottom:20px;}
.user_deupload li{ padding-bottom:6px;}
.user_nores{ border-top:1px dashed #cccccc; margin:15px 0px 30px 0px; padding:15px 0px 0px 15px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_noemai{ width:950px; margin:0px auto;font-family:Arial,SimSun,sans-serif; padding-top:10px;}
.user_noemai .user_information li span.name{ width:100px;}
.user_noemai .user_save{ margin-left:100px;}
.user_noemai .user_information li.spzk{ padding-left:111px;}
.user_noemai .u-list-sm{ margin:0px 15px 20px 0px;}
.user_noemai .u-list-sm .user_save{ margin:20px 0px 20px 111px;}
.user_vipnolog{ float:left; padding:10px 20px 0px 0px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; width:495px;}
.user_vipnolog i.icon-big-ok{ float:left; width:37px; height:37px; margin-right:5px; display:inline;}
.user_vipnolog .fle{ float:left; width:450px;} 
.user_vipnolog .fle p i.icon-right-c{ float:left; margin:5px 5px 0px 0px; display:inline;}
.user_vipnolog .fle p span.fl{ float:left; width:440px;}
.user_susres{ font-size:24px; margin-bottom:15px; color:#000000; line-height:36px;}
.icon-right-lv { background-position:-121px -564px; width:7px; height:7px; }
.user_ylogin{ float:left; width:430px; padding-left:50px;font-family:Arial,SimSun,sans-serif; border-left:1px solid #676767;}
.user_ylogin .snsLogin{ border-top:1px solid #cccccc; margin-top:10px; padding-left:5px; width:280px;}
.user_ylogin .login{ background:none; border:none;}
.user_ylogin .login form p{ padding:6px 0px 2px 0px;}
.user_ylogin .login form p span{ float:left;}
.user_ylogin .login form p.text-hot{ padding-left:50px;}
.user_ylogin .user_susres{ margin-bottom:3px;}
.user_ylogin .login form{ border-bottom:none;}
.user_ylogin .login label{ float:left; padding:5px 0px 0px 0px; width:50px;}
.user_ylogin .login .yzm span{ float:left;}
.user_ylogin .login .pwsave{ padding:0px 0px 8px 48px;}
.user_ylogin .login .btns{ padding-left:50px; text-align:left;}
.user_le1{ float:left; width:490px;}
.user_le2{ float:left; width:380px;}
.user_information li span.name2{ width:100px;color: #333333;font-size: 12px;line-height: 14px;padding-top: 6px;}
.user_information li span.name3{ width:80px;color: #333333;font-size: 12px;line-height: 14px;padding-top: 6px;}
.user_information li.xy .ipt input{ width:178px;}
.user_information li.xy span.gray{ padding-left:6px; line-height:14px;}
.user_information li.xyrzq{ height:20px; padding-left:91px; color:#333333;}
.user_information li.xyrzq input{ display:inline;*margin-top:-2px;}
span.checkbox input{ margin:0px 3px 0px 0px; padding:0px;display:inline;vertical-align:middle;}
.seleresume select{ width:370px;}
.seleresumeno select{ width:310px;}
.seleqzx select{ width:250px;}
.user_name{ font-size:14px; padding-top:6px; line-height:14px; color:#000000;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; }
h2.line{ display:block; font-size:24px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; font-weight:normal; margin-bottom:50px;}
.user_relist_title{margin-bottom: 10px}
.user_relist_cont {margin-bottom: 10px; border-bottom: 1px dotted #ccc;padding: 0 0 15px 15px;}
h2.line i{ float:left; margin-right:8px;}
h2.line span{ float:left; line-height:36px;}
h2.line span.a-green{ font-size:16px; line-height:20px; padding-top:12px;}
h2.line span.a-green a{font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
p.title{ font-size:18px; font-weight:bold;  color:#000000; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; height:25px;}
.u_jlbj{ width:586px; margin:50px auto;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; line-height:18px; }
.ujlbj_nr{ width:460px; height:265px;background:url(/images/v1/jlbj_bg.png?20121226_1) repeat-x; margin-left:60px; padding:0px 20px;}
.u_jltitle{ font-size:16px; font-weight:bold; color:#000000; padding-bottom:15px;}
.u_jltext-sm{ color:#6F6F6F; line-height:18px; padding-bottom:20px;}
.text-yellow{ font-weight:bold; color:#FD3102;}
.u_midd{ color:#626262; font-weight:bold; text-align:center; padding-bottom:12px;}
.u_midd .js-base-selecty{ text-align:left;}
.u_midd select{ width:190px;vertical-align: middle;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.u_sqcg{ width:680px;}
.u_sqcg .icon-round-kong{ width:9px; margin:8px 2px 0px 0px;}
.u_cgyes{ margin:5px; padding-bottom:15px;font-size:24px; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; height:38px;}
.u_cgyes i.icon-big-ok{ margin:0px 5px 0px 0px; float:left; display:inline;}
.u_cgyes span{ float:left; line-height:36px;}
.u_zcbt{ margin:5px;height:30px; line-height:30px; color:#a5a5a5;}
.u_zcbt span{ font-size:16px; font-weight:bold; padding-right:12px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; color:#000000;}
.u_sqcg .user_information li span.name{ width:110px;}
.u_sqcg .user_information li.spzk{ padding-left:121px;}
.u_sqcg .user_information li.spzk input{ *margin-left:-3px;}
.u_sqcg .user_information{ margin:0px 5px;}
.u_sqcg .user_save{ margin:20px 0px 20px 125px;}
.u_zccg{ width:500px;}
.u_zccg p{ margin:0px 0px 15px 0px;}
.search-list-box .sli-box .text-ind td span.ipt{ padding-left:0px;}
/*我的理想工作我的理想工作我的理想工作*/
.idealjob_fl{ float:left; width:722px; margin-left:10px; display:inline;}
.idealjob_con{ margin:0px 0px 15px 0px; padding:15px 0px 5px 15px; border-bottom:1px dashed #cccccc;}
.idealjob_con li{ padding:0px 0px 8px 0px;display:block; clear:both; color:#333;}
.idealjob_con li.sp{ padding:0px 0px 0px 0px; margin:0px;}
.idealjob_con li.sp input.checkbox{ margin-left:0px;*margin-left:-3px; vertical-align:middle;}
.idealjob_q{ float:left; color:#000000; font-size:14px; line-height:28px; width:170px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.idealjob_q1{ float:left; color:#333333; font-size:12px; line-height:28px; width:80px;}
.idealjob_a{ float:left; width:530px;}
*html .idealjob_a{ height:30px;}
.idealjob_b span{ float:left; line-height:18px; margin-bottom:5px; display:inline; color:#333333;}
.idealjob_b{ float:left; width:500px; line-height:28px;}
.idealjob_b span{ float:left;}
.idealjob_b a{  padding:0px 2px; margin:0px 5px 5px 0px; white-space:nowrap; color:#FFFFFF;line-height:18px; float:left; }
.idealjob_b a:link, .idealjob_b a:visited{ color:#018201;}
.idealjob_b .more a{ background-color:#FFFFFF; color:#018201; text-decoration:underline;}
*html .idealjob_b .more a{ padding-top:3px;}
.idealjob_b .more a:link,.idealjob_b .more a:visited{color:#018201;}
.idealjob_a .idealjob_big span{ float:none;}
.idealjob_big p,.idealjob_big div{ padding-bottom:8px; clear:both;}
  .idealjob_xldiv{ position:absolute; left:0px; top:27px; width:278px;padding:5px; min-height:24px; _height:100px; border:1px solid #8F9F70; background-color:#FFFFFF; z-index:20;box-shadow:2px 2px 0px rgba(150,150,150,0.4);}
  .idealjob_xldiv li{ margin:2px 0px; width:100%; padding-bottom:0px; line-height:20px;}
  .idealjob_xldiv li a{ display:block;}

.idealjob_mid .ipt input{ width:255px;}
.idealjob_big .ipt input{ width:285px;}
.idealjob_xiao .js-base-select-b{ width:60px;}
.idealjob_mid1 .js-base-select-b{ width:75px;}
.idealjob_mid2 .js-base-select-b{ width:205px;}
.idealjob_fl .user_information li span.name{ font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; width:159px;}
.idealjob_fl .user_information li.spzk{ padding-left:170px;}
.idealjob_fl .user_save{ margin-left:170px;}
.user_ylhead{ width:1000px; margin:0px auto; height:34px; background-color:#2C6E26;}
.user_ylhead .qlogo {width:105px; height:30px; float:left; background:url("/images/v1/preview-icon.png?20121226_1") no-repeat; margin-left:15px; font-size:0px; overflow:hidden; line-height:30px; vertical-align:middle;}
.user_ylhead .qlogo a {display: block;text-indent: -9999em;}
.user_jlbh{ width:710px; padding-bottom:6px; border-bottom:1px solid #e2e2e2; margin:15px auto; color:#a5a5a5;}
.user_jlbh i.icon-round-jl{ margin-right:10px;}
.user_jlbh span.fhb{ font-weight:bold; color:#333333;}
.user_jlbh span.plr10{ padding:0px 10px;}
.user_dayin{ position:absolute; right:0px; top:60px;}

.utype_cg{ width:450px;}
.utype_cg p{ margin:0px 0px 10px 0px;}
.utype_cg p.btns{ text-align:center;}
.utype_cg p.btns span{ margin:0px 5px;}
/*上传头像*/
#Canvas{position: relative;overflow:hidden;cursor:pointer; background-color:#F1F1F1;}
#bar{width: 250px;height: 18px;background-image: url("/images/v1/thumb/track.gif");background-repeat: no-repeat;position: relative;}
.child{width: 11px;height: 16px;background-image: url("/images/v1/thumb/grip.gif");background-repeat: no-repeat;top:3px;position: absolute;left:120px;}
#IconContainer{position:relative;left:0px;}  
#IconContainer img{FILTER:alpha(opacity=40);opacity:0.6;background-color:#fff;}
#ImageDragContainer {border: 1px solid #ccc;cursor: pointer;position: relative;overflow: hidden;z-index:1;} 

/*第三方登录左侧*/
.threel{ float:left; margin-top:20px; width:610px; margin-left:25px; display:inline;}
.threel .bt{ padding:15px 0px 20px 0px;}
.threel .bt i{ float:left;}
.threel .bt div{ float:left;color: #018201;font-size: 16px;font-weight: bolder; padding:18px 0px 0px 8px;}
.threel .bt div span{ font-size:14px; color:#666666; font-weight:normal;}
.threel .user_information li span.name{ width:100px;}
.threel .user_information .ipt input{ width:250px;}
.threel .user_save{ margin-left:111px;}

.JS_go_downlist i{ cursor:pointer;}
.jquery-alert-btn,.jquery-alert-btn2 {border-top: 1px solid #DDD;  padding: 10px 0; display:block;  text-align: right; width: 100%;}
.jquery-alert-btn span,.jquery-alert-btn2 span {margin-right: 10px;}
/*申请过的职位页面*/
*html .sqie6{ position:absolute;top:8px;}

.recommendlist{ left:0px; top:30px; width:490px; padding:8px;}
.recommend span,.recommendlist span{ float:right;}
.recommend li,.recommendlist li{ float:left; padding-right:8px;}
.search-poli {display:block; float:left; color:#000; padding-top:10px;}
.search-poli ul li {display:block; clear:both; overflow:hidden; margin-bottom:6px;}
.search-poli ul li i.icon-round-right{ margin-right:10px; margin-left:5px;}
.search-poli ul li.sp{ padding-left:120px;}
.search-poli ul li .textarea_tex .ipt{ padding:4px; margin:0px; width:250px; height:60px;}
.search-poli ul li .textarea_tex .ipt textarea{border: 0 none;color: #333333;height: 60px;margin: 0;padding: 0;width: 250px;resize:none;outline:none;}
.search-poli ul li .dtitle{font-size:14px; float:left; line-height:30px; width:120px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.search-poli ul li .dtitle i{ margin-right:2px;}
.search-poli ul li .dtitle i.icon-round-kong{ width:9px; height:10px; background:none;}
.search-poli ul li .dcontent {float:left;}
.search-poli ul li .dcontent .hui{ color:#a5a5a5;}
.search-poli ul li .dcontent span{ float:left;}
.search-poli ul li .dcontent span.pl-10 {padding-left:10px;}
.search-poli ul li .dcontent span.red,.search-poli ul li .dcontent span.a-green,.search-poli ul li .dcontent span.gray {padding-left:10px; display:inline-block; line-height:28px;}
.search-poli ul li .pt20 {padding-top:20px;}
.search-poli ul li .mb10 {margin-bottom:10px;}
.search-poli ul li .dcontent p {display:block; line-height:18px; padding-bottom:5px;}

.recommendlist li{ float:left; padding-right:8px; height:20px;}
.recommendlist li a{ cursor:pointer; color:#018201; float:left; line-height:20px;}
.recommendlist li i{ float:left; display:inline; margin-right:2px; margin-top:2px;}
#jquery-extend-mask-inner .a-green a{ padding:0px 2px;}
/*校园招聘*/
.user_xylist{ width:960px; margin:20px auto 40px auto;font-family:Arial,SimSun,sans-serif; min-height:400px;_height:400px;}
.xyxzw{ width:400px;}
.xyxzw .popup-con p.pb{ padding:0px 0px 10px 0px;}
.xyxzw .popup-con p.pbsp{ padding:0px 0px 10px 30px;}
*html .xyxzw .popup-con p.pbsp .js-base-select-b p {width:255px; white-space:nowrap; overflow:hidden;}
.cam_top{ margin:0px 20px 20px 20px; border-bottom:1px solid #CCCCCC; color:#333333;}
.user_tag{ background:url(/images/v1/ie6-tagsbg.gif) no-repeat 0px 0px; width:9px; height:12px; display:inline-block;}
.user_del{ background:url(/images/v1/DZ-lanmu-07.gif) no-repeat 0px 0px; width:9px;height:9px;display:inline-block; cursor:pointer;}

/*申请页面*/
.iconsq { background:url(/images/v1/sq_tb.png?20121226_1) no-repeat; position:relative; display:inline-block; padding:0!important; overflow:hidden; vertical-align:middle; font-size:0; width:30px; height:30px;}
.sq-icon-1{ background-position:-4px -3px;}/*申请职位*/
.sq-icon-2{ background-position:-45px -3px;}/*选择简历*/
.sq-icon-3{ background-position:-83px -3px;}/*附求职信*/
.sq-icon-4{ background-position:-120px -3px;}/*附件简历*/
.user_deltita {color: #000000;font-size: 16px;font-weight: 700;line-height: 28px; padding:12px 0px 10px 0px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif;}
.user_deltita i{ float:left; margin-right:4px;}
.user_deltita span{ float:left;}
.user_deltita span.text-hot{font-size:12px;font-family:Arial,SimSun,sans-serif; font-weight:normal;}
.user_deltita span.user_hui{font-size:12px;font-family:Arial,SimSun,sans-serif; font-weight:normal; color:#a5a5a5;}

.Position-smailltag01,.Position-smailltag02,.Position-smailltag03,.Position-smailltag04,.Position-smailltag05,.Position-smailltag06,.Position-smailltag07,.Position-smailltag08,.Position-smailltag09,.Position-smailltag10,.Position-smailltag11,.Position-smailltag12,.Position-smailltag13,.Position-smailltag14 {width:23px; height:23px; float:left; margin:0px 0px 0px 5px;background:url(/images/v1/posts_tags.png?20121226_1) no-repeat; padding:0px; cursor:pointer; display:inline;}
.Position-smailltag01 {background-position:-76px 0;}
.Position-smailltag02 {background-position:-76px -25px;}
.Position-smailltag03 {background-position:-76px -50px;}
.Position-smailltag04 {background-position:-76px -75px;}
.Position-smailltag05 {background-position:-76px -100px;}
.Position-smailltag06 {background-position:-76px -126px;}
.Position-smailltag07 {background-position:-76px -152px;}
.Position-smailltag08 {background-position:-76px -177px;}
.Position-smailltag09 {background-position:-76px -203px;}
.Position-smailltag10 {background-position:-76px -229px;}
.Position-smailltag11 {background-position:-76px -255px;}
.Position-smailltag12 {background-position:-76px -281px;}
.Position-smailltag13 {background-position:-76px -307px;}
.Position-smailltag14 {background-position:-76px -333px;}
.Position-smailltag50{ width:23px; height:23px; float:left; margin:0px 0px 0px 5px;background:url(/images/v1/ding.png?20121226_1) no-repeat; padding:0px; cursor:pointer; display:inline;}
.bcxd span i{ margin:0px 5px 0px 0px;}
.wake-pass{ padding-bottom:6px;}
.wake-pass label{ float:left; width:80px; font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; line-height:28px;}
.wake-pass .ipt input{ width:230px;}
.wake-pass span.gray{ padding-left:5px;}
.bigbutton{ display:block; width:174px; height:31px;background:url(/images/v1/base.png) no-repeat -25px -100px; font-size:14px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; text-align:center; line-height:31px; color:#FFFFFF; border:none; margin:0px; padding:0px;}
.usercompany_add{float:left; margin:6px 5px 0px 10px; cursor:pointer; display:inline;}
.usercompany_del{float:left; margin:6px 0px 0px 5px; cursor:pointer; display:inline;}
.iptAword input{ vertical-align:middle;_margin-top:-2px; margin:0px 3px 0px 0px;}
.iptAword span{ display:inline-block;}
.login .pwsave input,.login .pwsave span{ float:left; line-height:18px;}
.snsLogin span{ line-height:25px; padding-right:12px; white-space:nowrap;}
/*测评页面用样式*/
.test_mail{ width:1000px; margin:0px auto; height:500px;}
.test_nav{background:url(/images/v1/test.png) repeat-x 0 0; height:36px; border-left:1px solid #E0E0E0; border-right:1px solid #E0E0E0; padding:0 12px; line-height:36px;}
.test_nav a{ float:right; border:1px solid #E0E0E0; color:#888; display:inline-block; height:19px; line-height:19px; padding:0px 3px; margin:6px 15px 0 0;}
.test_nav a:hover{ color:#FFF; border:1px solid #27A5D8; background-color:#0F8B13; text-decoration:none;}
.test_nav span{ margin-bottom:2px;}
.test_nav .ii{ color:#ddd; padding:0px 5px;}
.test_centent {margin: 0 auto;padding-top: 23px;width: 954px;}
.test_cd{ height:35px; margin-bottom:10px;}
.test_cd span{ float:left; display:inline-block; line-height:28px;}
.test_cd .sp1{ width:30px; height:30px; margin-right:13px;background:url(/images/v1/test.png) no-repeat 0 -41px;}
.test_cd .sp1a{ width:30px; height:30px; margin-right:13px;background:url(/images/v1/test.png) no-repeat 0 -82px;}
.test_cd .sp1aa{ width:30px; height:30px; margin-right:13px;background:url(/images/v1/test.png) no-repeat 0 -123px;}
.test_cd .sp2{ font-size:18px; font-weight:bolder; margin-right:17px;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; color:#333;}
.test_cd2{ margin-left:43px; height:35px;}
.test_cd2 .sp1{ float:left; font-size:14px; color:#333;font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; margin-top:8px; display:inline;font-weight:bolder;}
.test_cd2 span,.test_cd2  input{ float:left;}
.test_ddt{ height: 119px;margin: 15px 0 20px 40px;}
.test_ddt li{ float:left;}
.test_ddt li.li1{width: 300px; height: 115px; border: 1px #E5E5E5 solid; border-right:none;}
.test_ddt li.li2{ width:24px; height:117px;background:url(/images/v1/test.png) no-repeat -176px -43px;}
.test_ddt li.li3{width: 410px;height: 95px; border: 1px #E5E5E5 solid;background-color: #F7F7F7; border-left:none;padding-top: 20px;}
.test_ddt li.li1 p{margin: 20px 0px 0px 40px; line-height: 24px; padding-top:20px;}
.test_wz{ margin:0px 0px 20px 43px;}
#tooltip{ position:absolute;}