/* CSS Document */
body{ font-size:18px; color:#444444;width:100%; margin:0px auto; line-height:27px; font-family:"Microsoft YaHei",Arial,SimSun,sans-serif; }
a{ color:#018201; text-decoration:none;}
a:hover{ color:#018201; text-decoration:none;}
.container{ margin:0px auto; overflow:hidden; border:1px solid #2F732A;}
.top{text-align:left;padding:3px 0px 0px 12px; margin:0px auto 5px auto; background-color:#28B30E; height:55px;}
.top img{ margin:0px; padding:0px;}
.title{ padding:3px 12px; border-bottom:1px solid #CCCCCC;}
.title h1 {font-size: 20px;padding:3px 0px;text-align: left; margin:0px; font-weight:600;}
.title h4{ color:#8A8A8A; text-align:left; margin:0px; font-weight:normal; padding:3px 0px;}
.xxcon{ padding:5px 12px; line-height:27px;}
.xxcon a{ margin-bottom:5px;}
.xxcon b{ font-weight:normal;}
.xxcon p{ margin:0px 0px 10px 0px;}
.tab{ padding:3px 12px; margin:0px 0px 8px 0px;}
.tab img{ margin:0px; padding:0px; border:none;}
.tab a{ margin:0px; padding:0px; display:block; width:77px; height:25px;}
.titleot{ background-color:#F1F5E9; border:1px solid #D7E1BF; font-weight:bold; padding:3px 12px;}
.ttop{ padding:3px 12px; text-align:center;}
.titlezw{ padding:3px 12px; border-bottom:1px solid #CCCCCC;}
.titlezw h1 {font-size: 20px;padding:3px 0px; margin:0px;font-weight:600;}
.titlezw h4{ color:#8A8A8A;margin:0px; font-weight:normal; padding:3px 0px;}
.line{ border-top:1px solid #cccccc; padding-top:15px;}